.DayPicker-Month {
  margin: $golden-ratio-0;
}

.DayPicker-Caption {
  margin-bottom: $golden-ratio-1;

  > div {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: $type-3;
    color: $smokey;
    margin-top: $golden-ratio-1;
  }
}

.DayPicker-Weekday {
  font-size: $type-0;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  color: $smokeyx;
  width: 40px !important;
}

.DayPicker-Week,
.DayPicker-Weekdays {
  display: flex;
  margin: 0;
}

.DayPicker-Day {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px !important;
  height: 40px !important;
  font-size: $type-2;
  font-weight: 400;
  color: $globe;

  &--today {

  }

  &--outside {
    color: $smokey;
  }
}

/* Default modifiers */

.DayPicker-Day--today {
  color: $globe;
  font-weight: 700;
}

.DayPicker-Day--outside {
  color: #8B9898;
  cursor: pointer;
}

.DayPicker-Day--disabled {
  color: $gray-1;
  cursor: default;
}

.DayPickerInput-Overlay {
  margin-top: $golden-ratio-0;
  border-radius: $golden-ratio-0;
  box-shadow: $box-shadow-float;
  font-family: $sans;
}
.DayPicker-Footer {
  text-align: center;
  padding: 0 $golden-ratio-2;
}

.DayPicker-TodayButton {
  text-align: center;
  display: block;
  color: $globe !important;
  background-color: $gray-0;
  width: 100%;
  font-size: $type-2;
  height: 40px;
  font-weight: 400;
  border-radius: $golden-ratio-1;
  padding: $golden-ratio-0 $golden-ratio-1;
}
