.footer-libraries {
  &--inner {
    display: flex;
    flex-wrap: wrap;

    @include respond(xs, sm) {
      flex-direction: column;
      align-items: center;
      align-content: center;
    }
  }

  &--anchor {
    width: 303px;
    display: flex;
    flex-direction: column;

    @include respond(xs, sm) {
      width: 100%;
      max-width: 100%;
      flex-direction: row;
      margin-bottom: $golden-ratio-1;
    }

    @include respond(xs, sm) {
      border-bottom: 2px solid $gray-0;
      padding-bottom: $golden-ratio-1;
      margin-bottom: $golden-ratio-2;
    }

    p {
      font-size: $type-2;
      line-height: 1.58em;

      @include respond(xs, sm) {
        font-size: $type-1;
      }
    }
  }

  &--identity {
    width: auto;

    @include respond(xs, sm) {
      min-width: 33.333333%;
      flex-shrink: 1;
      padding-right: $golden-ratio-3;
    }

    @include respond(xs) {
      min-width: $gr-short;
    }
  }

  &--identity--brand {
    display: flex;

    &--unit {
      display: block;
      font-size: $type-3;
      font-weight: 700;

      @include respond(xs, sm) {
        font-size: $type-2;
      }
    }
  }

  &--menu-extras {
    @include respond(xs, sm) {
      flex-grow: 1;
    }

    ul.utk-resources-menu--submenu  {
      padding: 0;
      margin: 0;

      li {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: $type-1;

        @include standard-body-link();
      }
    }
  }

  &--menu {
    flex-grow: 1;
    display: flex;

    @include respond(xs, sm) {
      width: 100%;
      flex-direction: column;
      text-align: center;
    }

    .utk-resources-menu--section {
      margin-top: 0 !important;
    }
  }
}
