.utk-menu-open  {
  .utk-menu-help {
    opacity: 1;
    bottom: 15px;
    left: -7px;
    right: auto;
    position: fixed;
    width: auto;
  }

  .utk-menu-options {
    opacity: 1;
    bottom: 0;
    position: fixed;
    right: 0;
    z-index: 10;
    background-color: $gray-1;
    width: 100%;
    height: 69px;

    .utk-resources-close {
      bottom: 11px !important;
      right: 11px !important;
      z-index: 11;
      position: fixed;
    }
  }

    .utk-menu-help {
      opacity: 1;
      bottom: 11px;
      position: fixed;
      padding-right: 76px;
    }
}

.utk-menu-help {
  position: fixed;
  width: 100%;
  bottom: -200px;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transition: $transition-all;
  max-width:  1199px;
  z-index: 10;

  &--item {
    display: flex;
    height: $golden-ratio-4;
    box-shadow: $box-shadow-float;
    border-radius: $golden-ratio-4;
    margin-left: $golden-ratio-2;
    position: relative;
    line-height: $golden-ratio-4;
    border-radius: $golden-ratio-4;
    overflow: hidden;
    background-color: $white;

    > h4 {
      margin: 0;
      padding: 0 $golden-ratio-2;
      font-size: $type-2;
      color: $smokeyx;
      text-transform: none !important;

      > em {
        font-weight: 400;
        font-style: normal;
      }
    }

    &--icon {
      width: $golden-ratio-4;
      height: $golden-ratio-4;
      line-height: $golden-ratio-4;
      text-align: center;
      background-color: $rock;
      clip-path: polygon(6px 0,100% 0,100% 100%,0 100%);


      > span {
        display: block;
        color: $white;
        align-content: center;
        text-align: center;
        font-size: 18px;
      }
    }
  }
}

.utk-menu-help--help-me {
  .utk-menu-help--item--icon {
    background-color: $orange;
  }
}

.utk-menu-help--chat {
  .utk-menu-help--item--icon {
    background-color: $switchgrass;
  }
}