a.utk-help-decision,
a.utk-help-decision:visited {
  display: flex;
  color: $white;
  min-height: $golden-ratio-4;
  border: 2px solid $smokey;
  margin: $golden-ratio-2 auto 0;
  font-size: $type-3;
  font-weight: 400;
  align-items: center;


  @include respond(xs) {
    max-width: 100%;
    margin-top: 15px;
  }

  &:first-of-type {
    margin-top: $golden-ratio-3;
  }

  &:hover,
  &:focus {
    background-color: $smokey;
  }
}
