.utk-menu-open  {

  .utk-menu-options {
    display: flex;
    justify-content: flex-end;


    .container {

      display: flex;
      padding-top: 11px;

      @include respond(xs) {
        padding-top: 15px;
      }

      .utk-menu-help {
        flex-grow: 1;
      }

      .utk-resources-close {
        position: static;
        right: auto;
        bottom: auto;
        margin-left: 0;

        @include respond(xs) {
          width: 40px;
          height: 40px;
          line-height: 40px;

          > span {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}

.utk-menu-help {
  display: flex;

  &--item {
    display: flex;
    height: $golden-ratio-4;
    box-shadow: $box-shadow-float;
    border-radius: $golden-ratio-4;
    position: relative;
    z-index: 0;
    line-height: $golden-ratio-4;
    border-radius: $golden-ratio-4;
    overflow: hidden;
    background-color: $white;
    margin-right: $golden-ratio-2;

    @include respond(xs) {
      height: 40px;
      line-height: 40px;
      margin-right: $golden-ratio-1;
    }

    > h4 {
      margin: 0;
      padding: 0 $golden-ratio-2;
      font-size: $type-2;
      color: $smokeyx;
      text-transform: none !important;

      @include respond(xs) {
        padding: 0 $golden-ratio-1 0 $golden-ratio-2;
      }

      > em {
        font-weight: 400;
        font-style: normal;
      }
    }

    &--icon {
      width: $golden-ratio-4;
      height: $golden-ratio-4;
      line-height: $golden-ratio-4;
      text-align: center;
      background-color: $rock;
      clip-path: polygon(0 0,100% 0,100% 100%,6px 100%);

      @include respond(xs) {
        height: 40px;
        width: 40px;
        line-height: 40px;
      }

      > span {
        display: block;
        color: $white;
        align-content: center;
        text-align: center;
        font-size: $type-3;

        @include respond(xs) {
          font-size: $type-2 !important;
        }
      }
    }
  }
}

.utk-menu-help--help-me {
  .utk-menu-help--item--icon {
    background-color: $orange;
  }
}

.utk-menu-help--chat {
  .utk-menu-help--item--icon {
    background-color: $switchgrass;
  }
}

.utk-menu-help--help-me--back {
  display: none;
  width: 47px;
  text-align: center;
  background-color: $smokey;
  color: $white;
  top: 158px;

  @include respond(xs) {
    width: 40px;
    height: 40px;
    margin-top: 0;
    top: 81px;
  }
}

.utk-header-resources.utk-help-expand {

  .utk-resources-menu,
  .utk-resources-contact {
    display: none;
  }

  .utk-menu-options {
    .utk-menu-help--help-me--back {
      display: block;
    }

    .container {
      flex-wrap: wrap;
      flex-direction: row-reverse;
      align-content: flex-end;
      height: 100%;
    }
  }
}

.utk-help {
  position: relative;
  width: 100%;
  margin: 0;
  color: $white;
  text-align: center;
  padding: $golden-ratio-2 0 $golden-ratio-4 ;
  display: flex;
  align-items: center;
  height: 100%;

  &.utk-help-align-top {
    align-items: flex-start;
  }

  > div.utk-help-content {
    width: 100%;
    padding-bottom: $golden-ratio-4;

    @include respond(xs) {
      padding-bottom: 15px;
    }
  }

  h3 {
    color: inherit;
    font-size: $type-4;
    margin: 0 auto 0;
    color: $smokey;
  }

  p {
    font-size: $type-2;
    color: $smokeyx;

    &::after {
      display: block;
      width: 100%;
      height: 6px;
      background-color: $orange;
      content: ' ';
      margin: $golden-ratio-3 auto 0;
      max-width: $golden-ratio-6;
    }
  }
}
