.utk-hours {
  font-family: $sans;
  display: flex;
  flex-direction: column;
  margin-bottom: $golden-ratio-1;

  &.utk-hours-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .utk-hours-teaser {
    background-color: $white;
    margin-bottom: 0;
    border-radius: $golden-ratio-0;
    overflow: hidden;
    position: relative;
    font-size: $type-2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
    box-shadow: $box-shadow;
    border-top: $golden-ratio-0 solid $switchgrass;

    @include respond(xs, sm) {
      border-top: none;
      display: none !important;
    }

    &--title {
      font-size: $type-2;
      color: $smokey;
      z-index: 1;
      font-weight: 700;
      display: block;
      width: 100%;
      margin: $golden-ratio-2 $golden-ratio-3 $golden-ratio-0;
      position: relative;
      letter-spacing: -0.029em;

      //&::before {
      //  content: "";
      //  width: $golden-ratio-5;
      //  height: $golden-ratio-0;
      //  display: block;
      //  background-color: $switchgrass;
      //  margin: auto auto $golden-ratio-1;
      //}
    }

    &--hours {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      color: $smokey;
      justify-content: space-around;
      position: relative;
      z-index: 2;
      margin-bottom: $golden-ratio-2;

      @include respond(xs, sm) {
        display: none;
      }

      @include respond(md) {
        flex-direction: column;
        flex-wrap: nowrap;
      }

      &--weekly {
        padding: 0$golden-ratio-3;
        flex-grow: 1;

        .utk-hours--week {
          display: flex;
          flex-direction: column;

          &-future {
            display: flex;
          }

          div {
            font-size: $type-1;
            line-height: 1.47em;
            flex-grow: 1;
            margin-top: 2px;
          }

          &--dayofweek {
            font-weight: 400;
            flex-basis: 50%;
            flex-grow: 1;
          }

          &--hours {
            font-weight: 700;
            flex-basis: 50%;
            flex-grow: 1;
          }
        }
      }

      dl {
        margin: 0;
        flex-basis: 50%;

        dt {
          margin: 0;
          padding: 0;
          text-align: center;
          font-size: $type-2;
        }
        dd {
          margin: 0;
          padding: 0;
          text-align: center;
          font-size: $type-2;
          font-weight: 700;
          margin-bottom: $golden-ratio-0;
        }
      }
    }

    &--badge {
      display: block;
      color: $smokey;
      margin: auto auto 0;
      padding:  $golden-ratio-1 $golden-ratio-3;
      width: 100%;
      font-size: $type-0;
      font-style: italic;
      font-weight: 400;
      text-align: center;
      line-height: 1.65em;
      border-radius: $golden-ratio-0;
      margin-bottom: $golden-ratio-1;
      margin-top: $golden-ratio-1;
      position: relative;
      z-index: 0;

      @include respond(xs, sm) {
        order: 3;
        margin: 0 !important;
        border-radius: 0;
        padding: 0;
        height: 47px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.47em;
        background-color: $gray-1;
      }

      @include respond(xs, sm, md) {
        font-size: $type-0;
      }
    }

    &--subtitle {
      font-size: $type-2;
      color: $white;
      z-index: 1;
      font-weight: 400;
      text-align: center;
      line-height: 1.47em;
      display: block;
      margin: 0 $golden-ratio-3 $golden-ratio-2;
      position: relative;
      letter-spacing: -0.029em;

      @include respond(xs, sm) {
        display: none;
      }
    }

    &--menu {
      display: flex;
      justify-content: center;
      font-size: $type-2;
      font-weight: 700;
      margin: 0 $golden-ratio-3 $golden-ratio-2;
      position: relative;
      z-index: 1;
      line-height: 1.7em;

      @include respond(md) {
        margin: 0 $golden-ratio-3 $golden-ratio-2;
      }

      @include respond(xs, sm) {
        display: none;
      }

      a,
      a:visited {
        color: $white;
        font-size: $type-1;
        display: inline-flex;
        padding: $golden-ratio-0 $golden-ratio-1;
        background-color: $globe;
        margin-right: $golden-ratio-2;
        transition: $transition-all-fast;
        box-shadow: none;
        align-items: center;
        line-height: 1.29em;
        flex-grow: 1;
        text-align: center;
        justify-content: center;

        &:hover,
        &:focus {
          border-color: rgba($white, 0.24);
          box-shadow: $box-shadow;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    img {
      position: absolute;
      left: -10%;
      top: -10%;
      width: 120%;
      height: auto;
      filter: blur(6px);
      z-index: 0;
      opacity: 0.11;
    }
  }

  .utk-hours-header {
    display: flex;
    justify-content: space-between;

    @include respond(md) {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      margin-bottom: $golden-ratio-1 !important;
    }

    h3 {
      margin: 0 0 $golden-ratio-1;
      padding: 0;
      font-weight: 700;
      color: $smokey;
      font-size: $type-2;
      letter-spacing: -0.018em;

      @include respond(md) {
        margin-bottom: 0 !important;
      }
    }

    &--date-select {
      font-size: $type-1;
      cursor: pointer;
      display: none;
    }

    &--links {
      @include respond(md) {
        display: flex;
        justify-content: space-between;
      }

      @include respond(sm) {
        margin-right: $golden-ratio-3;
      }

      @include respond(xs) {
        margin-right: $golden-ratio-2;
      }

      > a {
        font-size: $type-0;
        margin-left: 18px;
        font-weight: 700;
        text-transform: uppercase;

        @include respond(md) {
          margin: 0 9px;
        }

        @include respond(sm, xs) {
          color: $white !important;
        }

        &::after {
          content: "\E812";
          font-family: fontello;
          font-style: normal;
          speak: none;
          text-decoration: inherit;
          text-align: center;
          font-variant: normal;
          text-transform: none;
          -webkit-font-smoothing: antialiased;
          margin-left: 6px;
          color: $orange;
          font-size: 11px;
          display: inline-flex;
          align-content: center;
          align-items: center;
          margin-top: -2px;
          text-decoration: none !important;
        }
      }
    }
  }

  &--loading {
    margin: 0;
    padding: 0;
    padding-left: $golden-ratio-4 !important;
    line-height: $type-5;
    width: 300px;
    font-family: $sans;
    font-size: $type-2;
    font-weight: 400;
    color: $smokey;
    position: relative;

    @include respond(xs, sm) {
      background: $white;
      width: 100%;
      position: relative;
      color: $smokey;
      font-weight: 700;
      font-size: $type-1;
      display: flex;
      height: 90px;
      align-items: center;
      justify-content: center;

      &.spinner::before {
        position: relative !important;
        margin-right: $golden-ratio-1;
      }
    }

    @include respond(sm) {
      padding: 0 $golden-ratio-3 !important;
    }

    @include respond(xs) {
      padding: 0 $golden-ratio-2 !important;
    }
  }

  &--listing {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;

    &--col {
      width: 100%;
      margin: 0;
      padding: 0;
    }


    &--item {
      list-style: none;
      margin: 0;
      padding: 0;
      width: auto;
      margin-bottom: $golden-ratio-2;
      display: flex;
      flex-wrap: wrap;
      border-bottom: 2px solid $gray-0;
      padding-bottom: $golden-ratio-2;

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }


      @include respond(sm, xs) {
        flex-wrap: nowrap;
      }

      figure {
        margin: 0;
        width: 34px;
        height: 34px;
        border-radius: $golden-ratio-4;
        margin-top: 3px;
        position: relative;
        background-color: $smokey;
        z-index: 0;
        flex-shrink: 0;
        overflow: hidden;
        box-shadow: $box-shadow-float;

        img {
          z-index: 0;
          background-color: $smokey;
          border-radius: $golden-ratio-3;
          box-shadow: $box-shadow;
          width: 100%;
          height: 100%;
          position: relative;
        }
      }

       .library-open {
        figure{

          img {
            filter: grayscale(0);
            opacity: 1;
          }
        }
      }

      &--meta {
        padding-left: $golden-ratio-1;
        flex-shrink: 1;
        flex-grow: 0;
        display: flex;
        width: calc(100% - 34px);

        > a,
        > a:visited {
          display: flex;
          font-size: $type-2;
          color: $globe;
          flex-grow: 1;
          padding-right: $golden-ratio-1;
          justify-content: space-between;

          .utk-hours--listing--item--title {
            flex-grow: 0;
            flex-shrink: 1;
          }
        }

        > a:hover,
        > a:focus {
          span.library-title,
          span.library-subtitle {
            color: $leconte;
          }
        }

        span.library-title {
          margin: 0;
          padding: 0;
          display: block;
          font-size: $type-1 !important;
          font-weight: 700;
          line-height: 1.47em;
          word-break: break-word;
        }

        span.library-subtitle {
          margin: 0;
          padding: 0;
          display: block;
          font-size: $type-1;
          line-height: 1.47em;
          margin-top: 4px !important;
        }

        &--links {
          display: flex;
          flex-direction: column;
          font-size: $type-1;
          line-height: 2em;
          flex-shrink: 0;

          span {
            a,
            a:visited {
              margin-left: $golden-ratio-1;

              &:first-child {
                margin-left: 0;
              }
            }
          }

          &--spaces {
            display: flex;
            margin-top: 3px;
            margin-bottom: 9px;
            overflow: hidden;

            a {
              width: $golden-ratio-5;
              height: $golden-ratio-4;
              background-color: $gray-0;
              overflow: hidden;
              display: inline-flex;
              margin-right: 6px;
              font-weight: 700;
              font-size: $type-0;
              text-align: center;
              letter-spacing: -0.029em;
              justify-content: center;
              align-items: center;
              line-height: 1.29em;
              -webkit-font-smoothing: antialiased;

              @include respond(md, sm, xs) {
                &:nth-child(2) {
                  display: none;
                }
                &:last-child {
                  display: flex;
                }
              }

              &:last-child {
                margin-right: 0;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
          }
        }
      }

      &--childmenu {
        margin: 0 !important;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        li {
          width: 50%;
          margin-top: $golden-ratio-2;
          margin-bottom: 0;
          border-top: 0;
          padding-top: 0;
          padding-bottom: 0 !important;
          border-bottom: none !important;

          > a,
          > a:visited {
            color: $globe;
          }

          > a:hover,
          > a:focus {
            color: $leconte;
          }

          .utk-hours--listing--item--meta {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 0;
          }
        }
      }

      &--more {
        display: none !important;
      }

      &--child {
        margin-top: $golden-ratio-1;
        position: relative;
        z-index: 0;

        &::before {
          position: absolute;
          left: 23px;
          top: 8px;
          //content: '';
          background-color: $gray-0;
          height: 2px;
          width: 23px;
          position: absolute;
          border-radius: 2px;
        }

        &::after {
          position: absolute;
          left: 23px;
          top: -66px;
          //content: '';
          background-color: $gray-0;
          height: $golden-ratio-5;
          width: 2px;
          position: absolute;
          border-radius: 2px;
        }

        a .utk-hours--listing--item--meta  {
          span.library-title {
            font-size: $type-1 !important;
            font-weight: 400;
            color: $smokey;

            @include respond(xs, sm) {
              font-size: $type-2 !important;
            }
          }

          span.library-subtitle {
            display: none;

            @include respond(xs, sm) {
              display: block !important;
            }
          }
        }
      }

      &--simple {
        margin-right: 1em;
      }

      &--locations {
        display: flex;
        flex-wrap: wrap;
        width: 266px;
        flex-grow: 0;
        flex-shrink: 0;

        > div {
          width: 50%;
        }
      }

      .library-location {
        font-style: normal;
        display: flex;
        font-size: $type-1;
        line-height: 1.47em;
        font-weight: 400;
        color: $smokey !important;
        white-space: nowrap;
      }

      &--hours {
        display: flex;
        font-weight: 700;
        font-size: $type-1;
        color: $smokeyx !important;
        line-height: 1.29em;
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 5px;

        &::before {
          margin-right: $golden-ratio-0;
          z-index: 0;
          display: block;
          content: '';
          width: 9px;
          height: 9px;
          border-radius: $golden-ratio-1;
          border: 2px solid $rock;
          background-color: $white;
          margin-top: 4px;
        }
      }
    }
  }

  &--week {
    display: flex;

    &--dayofweek {
      display: flex;
      flex-direction: column;
    }

    .active {
      font-weight: 700;
    }
  }
}

.utk-hours--listing--item .library-open {
  .utk-hours--listing--item--hours::before {
    background-color: $switchgrass;
    border: 2px solid $switchgrass;
  }
}

.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: $golden-ratio-3;
  height: $golden-ratio-3;
  border-radius: 50%;
  border: 6px solid $gray-1;
  border-top-color: $orange;
  animation: spinner 1s linear infinite;

  @keyframes spinner {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
}

@include respond(xs, sm) {
  .utk-hours {
    background-color: $white;
    margin-top: 0;
    border-left: 0;
    width: calc(100%);
    box-shadow: $box-shadow-float;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
    height: 168px;

    .utk-hours-teaser {
      width: 100%;
      border-radius: 0;
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      height: $golden-ratio-4;
      order: 3;
      background-color: $smokeyx;

      img {
        display: none;
      }

      .utk-hours-teaser--title {
        display: none;
      }

      .utk-hours-teaser--menu {
        width: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        margin: 0;
        justify-content: space-evenly;

        a,
        a:visited {
          border: 0;
          color: $white;
          font-size: $type-1;
          padding: 0;
          margin: 0 5.5px;
          letter-spacing: -0.018em;
        }

        a:hover,
        a:focus {
          border: 0;
          color: $white;
          box-shadow: none;
        }
      }
    }

    .utk-hours-header {
      width: 100%;
      text-align: center;
      background-color: $smokey;
      height: 32px;
      overflow: hidden;

      h3 {
        color: $gray-1;
        font-size: $type-1;
        margin: 2px 29px;
        font-weight: 400;

        @include respond(xs) {
          margin: 2px 18px;
          margin-right: 0;
        }
      }
    }

    .utk-hours--listing {
      overflow-x: scroll;
      overflow-y: hidden;
      width: calc(100%);
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      height: 89px;

      &--col {
        display: flex;
        flex-direction: row;
        width: auto;
        padding-left: 0 !important;

        @include respond(sm) {
          padding-left: $golden-ratio-1 !important;
        }

        > .utk-hours--listing--item {
          display: flex;
          margin-bottom: 0;
          height: 89px;
          flex-shrink: 0;
          padding: 11px 18px;
          border-right: 2px solid $gray-1;

          &:last-child {
            margin-right: 0;
          }

          .library-title,
          .library-subtitle,
          .utk-hours--listing--item--hours {
            white-space: nowrap;
          }

          figure {
            width: 30px;
            height: 30px;
          }

          .utk-hours--listing--item--meta--links--spaces {
            margin-left: $golden-ratio-0;
            display: none;

            > a {
              position: relative;
              margin-right: 0;

              &:first-child,
              &:nth-child(1){
                margin-left: 0;
              }

              &:last-child {
                margin-left: -76px;
                background-color: rgba($smokeyx, 0.72) !important;
                color: $white;
              }
            }
          }
        }
      }

      &--item {
        &--childmenu {
          display: flex;
          flex-wrap: nowrap;
          margin-top: -11px !important;
          padding-left: 18px;
          height: 89px;

          > .utk-hours--listing--item--child {
            width: auto;
            max-width: 0;
            margin: 0;
            flex-shrink: 0;
            overflow: hidden;
            transition: $transition-all;

            > a {
              padding: 11px 18px;
              border-right: 2px solid $gray-1;
            }

            &:first-child {
              box-shadow: inset $box-shadow-left !important;
            }

            &:last-child {
              box-shadow: inset $box-shadow-right !important;
              border-right: none;
            }
          }
        }

        &--more {
          margin-top: -11px;
          margin-right: -18px;
          height: 89px;
          width: $golden-ratio-5 !important;
          min-width: $golden-ratio-5 !important;
          line-height: 1.29em;
          text-align: center;
          font-size: $type-0 !important;
          display: flex !important;
          align-content: center;
          align-items: flex-end !important;
          color: $smokey !important;
          flex-direction: column;
          flex-wrap: wrap;
          cursor: pointer !important;
          justify-content: center;
          padding: 0 !important;
          background-color: $white !important;
          border-left: 2px solid $gray-1;

          span {
            font-weight: 700;
            display: block;
            text-align: center;
            font-size: $type-1;
            color: $white;
            background-color: $white;
            margin: 0 auto $golden-ratio-0;
            width: 30px;
            height: 30px;
            box-shadow: $box-shadow;
            text-align: center;
            padding-top: 2px;
            line-height: 28px;
            border-radius: 30px;
            background-color: $globe;
            transition: $transition-all;
            margin-top: 7px;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
              margin-right: 0;
              margin-left: -2px;
              font-size: $type-0;
            }
          }

          &-collapse span {
            background-color: $rock !important;
          }
        }

        &.utk-hours--listing--item-showchildren {
          .utk-hours--listing--item--child {
            max-width: 290px;
          }
        }
      }

      //&--item {
      //  display: flex;
      //  margin-bottom: 0;
      //  height: 121px;
      //  flex-shrink: 0;
      //  padding: 11px 18px;
      //
      //  a {
      //    align-items: flex-start !important;
      //  }
      //
      //  &--childmenu {
      //    margin: 0 !important;
      //    padding: 0 !important;
      //    display: flex;
      //    flex-wrap: nowrap;
      //
      //    a {
      //      align-items: flex-start !important;
      //    }
      //  }
      //
      //  &--more {
      //    width: $golden-ratio-5 !important;
      //    min-width: $golden-ratio-5 !important;
      //    line-height: 1.29em;
      //    text-align: center;
      //    font-size: $type-0 !important;
      //    display: flex !important;
      //    align-content: center;
      //    align-items: flex-end !important;
      //    color: $smokey !important;
      //    flex-direction: column;
      //    flex-wrap: wrap;
      //    cursor: pointer !important;
      //    justify-content: center;
      //    padding: 0 !important;
      //    background-color: $white !important;
      //
      //    span {
      //      font-weight: 700;
      //      display: block;
      //      text-align: center;
      //      font-size: $type-1;
      //      color: $white;
      //      background-color: $white;
      //      margin: 0 auto $golden-ratio-0;
      //      width: 30px;
      //      height: 30px;
      //      box-shadow: $box-shadow;
      //      text-align: center;
      //      padding-top: 2px;
      //      line-height: 28px;
      //      border-radius: 30px;
      //      background-color: $globe;
      //      transition: $transition-all;
      //      margin-top: 7px;
      //      display: flex;
      //      align-items: center;
      //      justify-content: center;
      //
      //      &::before {
      //        margin-right: 0;
      //        margin-left: -2px;
      //        font-size: $type-0;
      //      }
      //    }
      //
      //    &-collapse span {
      //      background-color: $rock !important;
      //    }
      //  }
      //
      //  &--child {
      //    padding-left: 0 !important;
      //    margin-top: 0;
      //    margin-bottom: 0;
      //    max-width: 0 !important;
      //    flex-shrink: 1;
      //    width: auto;
      //    padding: 0;
      //
      //    &:first-of-type a {
      //      box-shadow: inset $box-shadow-left !important;
      //    }
      //
      //    &:last-of-type a {
      //      box-shadow: inset $box-shadow-right!important;
      //    }
      //
      //    @include respond(xs, sm) {
      //      transition: $transition-all;
      //    }
      //
      //    > a {
      //      padding: 0 $golden-ratio-2;
      //
      //      .library-title {
      //        font-weight: 700;
      //      }
      //    }
      //
      //    &::before,
      //    &::after {
      //      content: none;
      //    }
      //
      //    a::after {
      //      height: 29px;
      //      content: ' ';
      //      display: block;
      //      padding: 6px 18px;
      //      position: absolute;
      //      width: 100%;
      //      font-size: 11px !important;
      //      white-space: nowrap;
      //      bottom: 0;
      //      left: 0;
      //      text-align: center;
      //    }
      //  }
      //
      //  &-showchildren {
      //    .utk-hours--listing--item--child {
      //      max-width: 290px;
      //    }
      //  }
      //
      //  a {
      //
      //    figure {
      //      width: 30px;
      //      height: 30px;
      //      margin-right: $golden-ratio-0 !important;
      //      margin-bottom: 32px;
      //    }
      //
      //    .utk-hours--listing--item--meta {
      //      padding-left: 0;
      //
      //      .library-title {
      //        white-space: nowrap;
      //      }
      //
      //      .library-subtitle {
      //        color: $smokeyx;
      //        font-weight: 400;
      //        font-size: $type-1 !important;
      //        white-space: nowrap;
      //        bottom: 0;
      //        left: 0;
      //      }
      //    }
      //
      //    .utk-hours--listing--item--hours {
      //      font-size: $type-1;
      //      white-space: nowrap;
      //    }
      //  }
      //}
    }
  }
}
