.utk-hours {
  margin-bottom: $golden-ratio-4;

  h3 {
    margin: 0 0 $golden-ratio-1;
    padding: 0;
    font-weight: 700;
    text-transform: none;
    font-size: $type-3;
    color: $smokeyx;
  }

  &--loading {
    margin: 0;
    padding: 0;
    padding-left: $golden-ratio-4 !important;
    line-height: $type-5;
    width: 300px;
    font-family: $sans;
    font-size: $type-2;
    font-weight: 400;
    color: $smokey;
    position: relative;
  }

  &--listing {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;

    &--col {
      width: 50%;
    }


    &--item {
      list-style: none;
      margin: 0;
      padding: 0;
      width: auto;
      margin-bottom: $golden-ratio-2;

      &:last-child {
        margin-bottom: 0;
      }

      a,
      a:visited {
        display: flex;
        flex-direction: row;
        font-size: $type-2;
        color: $globe;

        figure {
          margin: 0;
          width: $golden-ratio-4;
          height: $golden-ratio-4;
          border-radius: $golden-ratio-3;
          margin-top: 3px;
          position: relative;
          background-color: $gray-1;
          z-index: 1;

          img {
            filter: grayscale(1);
            z-index: 0;
            opacity: 0.47;
            background-color: $rock;
            border-radius: $golden-ratio-3;
            box-shadow: $box-shadow;
            width: 100%;
            height: 100%;
            position: relative;
          }
        }

        .utk-hours--listing--item--meta {
          padding-left: $golden-ratio-2;
          flex-shrink: 1;
          flex-grow: 0;
          display: flex;
          flex-direction: column;

          span.library-title {
            margin: 0;
            padding: 0;
            display: block;
            font-size: $type-2 !important;
            font-weight: 700;
            line-height: 1.5em;
            word-break: break-word;
          }

          span.library-subtitle {
            margin: 0;
            padding: 0;
            display: block;
            color: $smokey !important;
            font-size: $type-1;
            line-height: 1.5em;
          }
        }

        &.library-open {
          figure{

            img {
              filter: grayscale(0);
              opacity: 1;
            }
          }
        }
      }

      &--child {
        padding-left: $golden-ratio-4;
        margin-top: $golden-ratio-2;
        position: relative;
        z-index: 0;

        &::before {
          position: absolute;
          left: 23px;
          top: 8px;
          content: '';
          background-color: $gray-1;
          height: 2px;
          width: 23px;
          position: absolute;
          border-radius: 2px;
        }

        &::after {
          position: absolute;
          left: 23px;
          top: -66px;
          content: '';
          background-color: $gray-1;
          height: $golden-ratio-5;
          width: 2px;
          position: absolute;
          border-radius: 2px;
        }

        a .utk-hours--listing--item--meta  {
          span.library-title {
            font-size: $type-1 !important;
            font-weight: 700;
          }
        }
      }

      &--simple {
        margin-right: 1em;
      }

      &--hours {
        display: flex;
        font-weight: 700;
        font-size: $type-1;
        color: $smokeyx !important;
        align-items: center;

        &::before {
          margin-right: $golden-ratio-0;
          z-index: 1;
          display: block;
          content: '';
          width: 9px;
          height: 9px;
          border-radius: $golden-ratio-1;
          border: 2px solid $rock;
          background-color: $white;
        }
      }
    }
  }
}

.utk-hours--listing--item a.library-open {
  .utk-hours--listing--item--hours::before {
    background-color: $switchgrass;
    border: 2px solid $switchgrass;
  }
}

.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: $golden-ratio-3;
  height: $golden-ratio-3;
  border-radius: 50%;
  border: 2px solid $gray-1;
  border-top-color: $rock;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
