.utk-hours {
  margin-bottom: $golden-ratio-3;

  &.utk-hours-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .utk-hours-header {
    display: flex;
    justify-content: space-between;

    h3 {
      margin: 0 0 $golden-ratio-1;
      padding: 0;
      font-weight: 700;
      text-transform: none;
      font-size: $type-3;
      color: $smokey;
    }
  }

  &--loading {
    margin: 0;
    padding: 0;
    padding-left: $golden-ratio-4 !important;
    line-height: $type-5;
    width: 300px;
    font-family: $sans;
    font-size: $type-2;
    font-weight: 400;
    color: $smokey;
    position: relative;
  }

  &--listing {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;

    &--col {
      width: 50%;

      &:last-child {
        padding-left: $golden-ratio-1;
      }
    }


    &--item {
      list-style: none;
      margin: 0;
      padding: 0;
      width: auto;
      margin-bottom: $golden-ratio-1;

      &--more {
        display: none !important;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a,
      a:visited {
        display: flex;
        flex-direction: row;
        font-size: $type-2;
        color: $globe;

        figure {
          margin: 0;
          width: $golden-ratio-4;
          height: $golden-ratio-4;
          border-radius: $golden-ratio-3;
          margin-top: 3px;
          position: relative;
          background-color: $smokey;
          z-index: 1;
          flex-shrink: 0;
          overflow: hidden;

          img {
            filter: grayscale(0.9);
            z-index: 0;
            opacity: 0.47;
            background-color: $smokey;
            border-radius: $golden-ratio-3;
            box-shadow: $box-shadow;
            width: 100%;
            height: 100%;
            position: relative;
          }
        }

        .utk-hours--listing--item--meta {
          padding-left: $golden-ratio-1;
          flex-shrink: 1;
          flex-grow: 0;
          display: flex;
          flex-direction: column;

          span.library-title {
            margin: 0;
            padding: 0;
            display: block;
            font-size: $type-2 !important;
            font-weight: 700;
            line-height: 1.5em;
            word-break: break-word;
          }

          span.library-subtitle {
            margin: 0;
            padding: 0;
            display: block;
            color: $smokey !important;
            font-size: $type-1;
            line-height: 1.5em;
          }
        }

        &.library-open {
          figure{

            img {
              filter: grayscale(0);
              opacity: 1;
            }
          }
        }
      }

      a:hover,
      a:focus {
        span.library-title {
          color: $leconte;
        }
      }

      &--child {
        padding-left: $golden-ratio-4;
        margin-top: $golden-ratio-1;
        position: relative;
        z-index: 0;

        &::before {
          position: absolute;
          left: 23px;
          top: 8px;
          content: '';
          background-color: $gray-0;
          height: 2px;
          width: 23px;
          position: absolute;
          border-radius: 2px;
        }

        &::after {
          position: absolute;
          left: 23px;
          top: -66px;
          content: '';
          background-color: $gray-0;
          height: $golden-ratio-5;
          width: 2px;
          position: absolute;
          border-radius: 2px;
        }

        a .utk-hours--listing--item--meta  {
          span.library-title {
            font-size: $type-1 !important;
            font-weight: 700;
          }
        }
      }

      &--simple {
        margin-right: 1em;
      }

      &--hours {
        display: flex;
        font-weight: 700;
        font-size: $type-1;
        color: $smokeyx !important;
        align-items: center;

        &::before {
          margin-right: $golden-ratio-0;
          z-index: 1;
          display: block;
          content: '';
          width: 9px;
          height: 9px;
          border-radius: $golden-ratio-1;
          border: 2px solid $rock;
          background-color: $white;
        }
      }
    }
  }
}

.utk-hours--listing--item a.library-open {
  .utk-hours--listing--item--hours::before {
    background-color: $switchgrass;
    border: 2px solid $switchgrass;
  }
}

.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: $golden-ratio-3;
  height: $golden-ratio-3;
  border-radius: 50%;
  border: 2px solid $gray-1;
  border-top-color: $rock;
  animation: spinner 1s linear infinite;
}

@include respond(xs, sm) {
  #utk-lib-header .utk-hours {
    background-color: $gray-1;
    margin-top: 0;
    border-left: 0;
    width: calc(100%);
    box-shadow: $box-shadow-float;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
    height: 121px;

    .utk-hours-header {
      width: 100%;
      text-align: center;

      h3 {
        font-size: $type-1;
        color: $smokey;
        margin: 2px 29px;

        @include respond(xs) {
          margin: 2px 18px;
        }
      }
    }

    .utk-hours--listing {
      overflow-x: scroll;
      overflow-y: hidden;
      width: calc(100%);
      position: relative;

      @include respond(xs) {
        &::after {
          display: block;
          width: $golden-ratio-2;
          height: 90px;
          content: ' ';
          position: fixed;
          right: 0;
          z-index: 1;

          @include filter-gradient-horizontal(rgba($white, 0), 0%, rgba($smokeyx, 0.15), 100%);
        }
      }

      &--col {
        display: flex;
        flex-direction: row;
        width: auto;
        padding-left: 0 !important;
      }

      &--item {
        display: flex;
        margin-bottom: 0;

        &--more {
          width: $golden-ratio-6 !important;
          min-width: $golden-ratio-6 !important;
          padding: 0 $golden-ratio-2 !important;
          line-height: 1.47em;
          text-align: center;
          font-weight: 700;
          background-color: $white !important;
          font-size: $type-0 !important;
          display: flex !important;
          align-content: center;
          align-items: flex-end !important;
          color: $smokeyx !important;
          text-transform: uppercase;
          flex-wrap: wrap;

          @include respond(xs) {
            width: $golden-ratio-5 !important;
            min-width: $golden-ratio-5 !important;
            padding: 0 !important;
          }

          span {
            display: block;
            text-align: center;
            font-size: $type-2;
            color: $globe;
            background-color: $white;
            margin: 0 auto $golden-ratio-1;
          }
        }

        > a {
          min-width: 175px;
        }

        &--child {
          padding-left: 0 !important;
          margin-top: 0;
          margin-bottom: 0;

          @include respond(xs, sm) {
            display: none;
          }

          > a {
            min-width: auto;

            .library-title {
              font-weight: 700;
            }
          }

          &::before,
          &::after {
            content: none;
          }

          a::after {
            height: 29px;
            content: ' ';
            display: block;
            padding: 6px 18px;
            position: absolute;
            width: 100%;
            font-size: 11px !important;
            white-space: nowrap;
            bottom: 0;
            left: 0;
            text-align: center;
          }
        }

        a {
          display: flex;
          flex-grow: 1;
          padding: 11px 29px;
          border-right: 1px solid $gray-1;
          height: 100%;
          position: relative;
          background-color: $white;
          align-items: flex-end;

          @include respond(xs) {
            padding: 11px 18px;
          }

          figure {
            width: 30px;
            height: 30px;
            margin-right: $golden-ratio-1;
            margin-bottom: 32px;
          }

          .utk-hours--listing--item--meta {
            padding-left: 0;

            .library-title {
              white-space: nowrap;
            }

            .library-subtitle {
              color: $smokeyx;
              font-weight: 400;
              font-size: $type-1 !important;
              white-space: nowrap;
              bottom: 0;
              left: 0;
            }
          }

          .utk-hours--listing--item--hours {
            font-size: $type-1;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
