.utk-resources-menu {
  &--services-primary {
    display: flex;
    align-items: center;
    font-family: $sans;
    height: $golden-ratio-4;

    @include respond(xs) {
      align-content: center;
      width: 100%;
      height: auto;

      > .utk-resources-menu--section {
        width: 100%;
      }
    }

    h3 {
      display: none;
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @include respond(xs) {
        width: 100%;
        padding: $golden-ratio-0 0 0;
      }

      //&:before {
      //  content: "\E812";
      //  font-family: fontello;
      //  font-style: normal;
      //  speak: none;
      //  text-decoration: inherit;
      //  text-align: center;
      //  font-variant: normal;
      //  text-transform: none;
      //  -webkit-font-smoothing: antialiased;
      //  margin-right: $golden-ratio-3;
      //  color: $rock;
      //  font-size: 15px;
      //  display: inline-flex;
      //  align-content: center;
      //  align-items: center;
      //  margin-top: -2px;
      //
      //  @include respond(xs) {
      //    content: none;
      //  }
      //}

      li {
        padding: 0;
        list-style: none;
        font-size: $type-1;
        font-weight: 400;
        margin: 0 $golden-ratio-3 0 0;
        display: flex;
        align-items: center;

        @include respond(xs) {
          width: 50%;
          margin: 0;
          display: block;
          margin-bottom: $golden-ratio-0;
          font-size: $type-1;
          padding-left: $golden-ratio-1;

          > a {
            display: inline-flex;
            align-self: center;
            line-height: 1.47em;
          }

          &:before  {
            content: "\F105";
            font-family: fontello;
            font-style: normal;
            speak: none;
            text-decoration: inherit;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            font-size: $type-0;
            align-content: center;
            align-items: center;
            color: $rock;
            position: absolute;
            margin-left: -11px;
          }
        }

        a,
        a:visited {
          color: $smokey;
        }

        a:hover,
        a:focus {
          color: $globe
        }
      }
    }
  }

  &--help {
    width: 33.333333%;
    border-radius: $golden-ratio-0;
    padding-right: $golden-ratio-2;
    font-family: $sans;

    @include respond(xs) {
      background-color: $gray-0;
      margin-right: 0;
      border-radius: 0;
      padding: $golden-ratio-3 $golden-ratio-2;
      margin-left: -18px;
      width: calc(100% + 36px);
      margin-bottom: $golden-ratio-2;
      box-shadow: inset $box-shadow;
    }

    h3 {
      margin: 0 0 6px;
      padding: 0;
      font-weight: 700;
      font-family: $sans;
      font-size: $type-2;
      color: $smokey;
      letter-spacing: -0.018em;

      @include respond(xs) {
        text-align: center;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      @include respond(xs) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      li {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: $type-1;
        line-height: 1.95em;

        @include respond(xs) {
          width: 100%;
          text-align: center;
        }

        a,
        a:visited {
          color: $globe;
        }

        a:hover,
        a:focus {
          color: $leconte;
        }
      }
    }
  }

  &--services-speciality {
    width: calc(67.777777% - 37px);
    border-radius: $golden-ratio-0;
    font-family: $sans;

    @include respond(sm) {
      width: calc(67.777777% - 37px);
      margin-right: 0;
    }

    @include respond(xs) {
      width: 100%;
      margin-right: 0;
      padding: $golden-ratio-1 0;
      border: none;
      border-radius: 0;
    }

    h3 {
      margin: 0 0 6px;
      padding: 0;
      font-weight: 700;
      font-family: $sans;
      font-size: $type-2;
      color: $smokey;
      letter-spacing: -0.018em;
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: $golden-ratio-2;
        padding-right: $golden-ratio-2;
        width: 50%;

        @include respond(xs) {
          width: 100%;
          margin-right: 0;
        }

        a,
        a:visited {
          display: block;
          color: $globe;
          font-weight: 400;
          font-size: $type-1;
          line-height: 1.95em;

          @include respond(xs) {
            font-size: $type-1;
            padding-left: $golden-ratio-1;

            &:before  {
              content: "\F105";
              font-family: fontello;
              font-style: normal;
              speak: none;
              text-decoration: inherit;
              text-align: center;
              font-variant: normal;
              text-transform: none;
              -webkit-font-smoothing: antialiased;
              font-size: $type-0;
              align-content: center;
              align-items: center;
              color: $rock;
              position: absolute;
              margin-left: -11px;
            }
          }

          span {
            display: block;
            font-weight: 400;
            color: $smokey !important;
            font-size: $type-0;
            margin-top: 2px;
            line-height: 1.47em;

            @include respond(xs) {
              margin-top: 2px;
              color: $smokey !important;
            }
          }
        }

        a:hover,
        a:focus {
          color: $leconte;
        }
      }
    }
  }

  &--about {
    font-family: $sans;
    //width: calc(100% - 47px);
    margin-top: $golden-ratio-0;
    background-color: $white;
    border-radius: $golden-ratio-0;
    position: relative;
    box-shadow: $box-shadow;
    border-top: $golden-ratio-0 solid $gray-1;

    @include respond(xs) {
      flex-direction: column;
    }

    //.utk-resources-menu--media {
    //  &--background {
    //    position: absolute;
    //    left: 0;
    //    top: 0;
    //    border-radius: $golden-ratio-0;
    //    border-top-right-radius: 0;
    //    border-bottom-right-radius: 0;
    //    width: $gr-short;
    //    height: 100%;
    //    overflow: hidden;
    //    z-index: 0;
    //    background-color: $smokey;
    //    clip-path: polygon(0 0, calc(100% - 18px) 0, 100% 100%, 0 100%);
    //
    //    @include respond(xs) {
    //      border-radius: 0 !important;
    //      height: 123px;
    //      position: relative;
    //      margin-left: -18px;
    //      clip-path: none;
    //      width: calc(100% + 36px);
    //    }
    //
    //    img {
    //      width: 100%;
    //      height: 100%;
    //      object-fit: cover;
    //      object-position: center;
    //      filter: blur(18px);
    //      opacity: 1;
    //      clip-path: polygon(0 0, calc(100% - 18px) 0, 100% 100%, 0 100%);
    //
    //      @include respond(xs) {
    //        clip-path: none;
    //      }
    //    }
    //  }
    //
    //  &--image {
    //    position: absolute;
    //    width: $gr-short;
    //    z-index: 1;
    //    left: $golden-ratio-3;
    //    top: $golden-ratio-3;
    //
    //    @include respond(xs) {
    //      left: $golden-ratio-2;
    //      width: 199px;
    //      height: 123px;
    //      margin-top: 18px;
    //    }
    //
    //    img {
    //      width: 100%;
    //      height: 100%;
    //      object-fit: cover;
    //      object-position: center;
    //      box-shadow: $box-shadow-float;
    //    }
    //  }
    //}

    .utk-resources-menu--section {
      position: relative;
      z-index: 1;
      //width: $gr-long;
      //margin-left: $gr-short;
      //padding: $golden-ratio-4;
      //padding-left: $golden-ratio-5;
      padding: $golden-ratio-3;

      @include respond(xs) {
        width: 100%;
        margin-left: 0;
        padding: 0;
        padding-top: 47px;
        padding-bottom: 11px;
      }

    }

    @include respond(xs, sm) {
      padding: $golden-ratio-3;
      width: 100%;
      box-shadow: $box-shadow;
    }

    @include respond(xs) {
      padding: $golden-ratio-3 $golden-ratio-2 $golden-ratio-2;
      margin-left: -18px;
      border-radius: 0 !important;
      width: calc(100% + 36px);
    }

    h3 {
      margin: 0 0 11px;
      font-size: $type-2;
      font-weight: 700;
      color: $smokey;
      letter-spacing: -0.018em;
      line-height: 1.47em;

      @include respond(md) {
        margin-bottom: $golden-ratio-1 !important;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: $type-1;
        width: 50%;
        line-height: 1.95em;

        @include respond(md) {
          width: 100%;
        }

        a,
        a:visited {
          color: $globe;
        }

        a:hover,
        a:focus {
          color: $leconte;
        }
      }
    }
  }
}
