.utk-notice {
  background-color: $smokeyx;
  font-family: $sans;
  padding: $golden-ratio-3 0;

  &--title {
    display: flex;
    flex-direction: column;
    font-size: $type-3;
    font-weight: 700;
    color: $white;
    -webkit-font-smoothing: antialiased;
    line-height: 1.29em;

    &::before {
      content: unset;
      width: $golden-ratio-6;
      height: $golden-ratio-0;
      background-color: $sunsphere;
      margin-bottom: $golden-ratio-2;
    }
  }

  &--content {
    p {
      color: $white;
      font-size: $type-2;
      line-height: 1.47em;
      -webkit-font-smoothing: antialiased;

      a,
      a:visited,
      a:hover,
      a:focus {
        color: $white;
        font-weight: 700;
        display: inline-flex;
        flex-direction: column;

        &:after {
          width: 100%;
          height: 2px;
          background-color: $smokey;
          content: '';
          margin-top: -2px;
        }
      }

      &:first-child {
        margin-top: $golden-ratio-0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.notice-actions {
  display: flex;
  flex-wrap: wrap;

  .notice-button {
    border: 2px solid $smokey;
    background-color: transparent;
    padding: $golden-ratio-1 $golden-ratio-2;
    display: inline-flex;
    font-size: $type-1;
    font-weight: 700;
    color: $white !important;
    margin-right: 1rem;
    margin-top: $golden-ratio-1;
    line-height: 1.47em;
    flex-grow: 0;

    &.covid19 {
      border-color: $sunsphere !important;
      background-color: $sunsphere !important;
      color: $smokeyx !important;
    }

    &:last-child {
      margin-right: 0;
    }

    &:after {
      content: unset !important;
      display: none !important;
    }
  }
}
