.utk-notice {
  background-color: $smokeyx;
  font-family: $sans;
  padding: $golden-ratio-1 0;
  position: relative;
  z-index: 1;
  color: $smokeyx;

  &-warning {
    .notice-actions {
      a.notice-button:first-child {
        background-color: $sunsphere;
        border-color: $sunsphere;
        color: $smokeyx !important;
      }
    }
  }

  @include respond(xs) {
    padding-bottom: $golden-ratio-3;
  }

  &--main {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    padding-right: $golden-ratio-6;

    @include respond(sm, md) {
      padding-right: $golden-ratio-5;
    }

    @include respond(xs) {
      padding-right: 0;
    }
  }

  &--title {
    display: flex;
    flex-direction: column;
    font-size: $type-3;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    line-height: 1.29em;

    @include respond(xs) {
      font-size: $type-2;
    }

    &::before {
      content: unset;
      width: $golden-ratio-6;
      height: $golden-ratio-0;
      background-color: $sunsphere;
      margin-bottom: $golden-ratio-2;
    }
  }

  &--content {
    transition: $transition-all-fast;
    height: auto;

    p {
      line-height: 1.47em;
      -webkit-font-smoothing: antialiased;
      font-size: $type-2;

      @include respond(xs) {
        font-size: $type-1;
      }

      a,
      a:visited,
      a:hover,
      a:focus {
        color: $smokeyx;
        font-weight: 700;
        display: inline-flex;
        flex-direction: column;

        &:after {
          width: 100%;
          height: 2px;
          background-color: $smokeyx;
          content: '';
          margin-top: -2px;
        }
      }

      &:first-child {
        margin-top: $golden-ratio-0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--toggle {
    background-color: $white;
    border: none;
    height: $golden-ratio-4;
    width: $golden-ratio-4;
    cursor: pointer;
    border-radius: $golden-ratio-4;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    transform: rotate(0);
    transition: $transition-all;
    display: none;

    &::before {
      content: "\E801";
      font-family: fontello, monospace;
      color: $smokey !important;
      font-style: normal;
      font-size: $type-3;
      speak: none;
      font-weight: 400;
      display: flex;
      height: $golden-ratio-4 !important;
      width: $golden-ratio-4 !important;
      justify-content: center;
      align-items: center;
      text-align: center;
      -webkit-font-smoothing: antialiased;
    }
  }

  .notice-actions {
    display: flex;
    flex-wrap: wrap;

    .notice-button {
      border: 2px solid $smokey;
      background-color: $smokeyx;
      padding: $golden-ratio-0 $golden-ratio-1;
      display: inline-flex;
      font-size: $type-1;
      font-weight: 700;
      color: $white !important;
      margin-right: $golden-ratio-1;
      line-height: 1.47em;
      flex-grow: 0;

      @include respond(xs) {
        display: flex;
        width: 100%;
        margin-right: 0;
        text-align: center;
        justify-content: center;
      }

      &:last-child {
        margin-right: 0;
      }

      &:after {
        content: unset !important;
        display: none !important;
      }
    }
  }

  &-false {
    .utk-notice--title {
      display: none;
    }

    .utk-notice--content {
      p,
      ul {
        display: none;
      }
    }

    .utk-notice--toggle {
      transform: rotate(45deg);
    }

    .notice-actions {
      margin-top: -$golden-ratio-1;
    }
  }
}
