.utk-notice {
  background-color: $smokeyx;
  font-family: $sans;
  padding: $golden-ratio-4 0;

  &--title {
    display: flex;
    flex-direction: column;
    font-size: $type-4;
    font-weight: 700;
    color: $white;
    -webkit-font-smoothing: antialiased;
  }

  &--content {
    p {
      color: $white;
      font-size: $type-3;
      line-height: 1.47em;
      -webkit-font-smoothing: antialiased;

      a,
      a:visited {
        color: $white;
        font-weight: 700;
        display: inline-flex;
        flex-direction: column;

        &:after {
          width: 100%;
          height: 2px;
          background-color: $orange;
          content: '';
          margin-top: -2px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
