.utk-header-resources {
  width: 100%;
  background-color: $white;
  z-index: 999;
  position: fixed;
  display: none;
  padding: 0 0 $golden-ratio-3;
  box-shadow: $box-shadow-float;

  @include respond(xs, sm, md, lg, xl) {
    box-shadow: inset $box-shadow;
  }

  @include respond(xs) {
    padding-bottom: $golden-ratio-5;
  }

  > .container {
    display: flex;

    @include respond(md, xs) {
      flex-direction: column-reverse;
    }
  }

  &::before {
    width: 100%;
    height: 1px;
    content: ' ';
    position: absolute;
  }

  &.utk-header-expand-menu {
    display: block;
  }
}

.utk-header.utk-header-shrink:not(.utk-header-expand-menu) .utk-header-expand-menu {
  top: 81px;
}

.utk-resources-menu {
  width: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0;
  width: $gr-long;

  &--row {
    display: flex;
    flex-direction: row;
    margin-bottom: $golden-ratio-2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include respond(md) {
    width: 100%;
    padding-bottom: $golden-ratio-3;
  }

  @include respond(sm, xs) {
    display: block;
  }

  @include respond(xs) {
    padding-bottom: $golden-ratio-2;
  }

  &--col {
    display: block;
    width: 33.333333%;

    @include respond(sm, xs) {
      width: 100%;

      .utk-resources-menu--submenu {
        display: none;
      }

    }

    .utk-resources-menu--section {
      margin-top: $golden-ratio-2;
      margin-bottom: $golden-ratio-1;

      @include respond(xs) {
        margin-top: 0;
        margin-bottom: 20px !important;
      }

      > h3 {
        margin: 0 0 6px;
        padding: 0;
        font-weight: 700;
        font-family: $sans;
        text-transform: none;
        font-size: $type-3;
        color: $smokey;

        @include respond(md, sm, xs) {
          margin-top: 0;
          cursor: pointer;
        }
      }

      @include respond(lg, xl, xxl) {
        &:first-child > h3 {
          margin-top: 0;
        }
      }

      a,
      a:visited {
        color: $globe;
        display: block;
        font-size: $type-2;
        font-family: $sans;
      }

      a:focus,
      a:hover {
        color: $leconte;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}

  .utk-header-expand-menu .utk-resources-contact {
  opacity: 1;
}

.utk-resources-contact {
  width: $gr-short;
  opacity: 0;
  z-index: 1;
  height: auto;
  padding: 0;
  margin-top: $golden-ratio-2;
  display: flex;
  flex-direction: column;

  @include respond(xs) {
    margin-top: 0;
    padding: $golden-ratio-2 15px !important;
    background-color: $gray-1;
    border-top: 2px solid $gray-1;
    margin: -15px;
    width: calc(100% + 30px) !important;
  }

  @include respond(md, xs) {
    width: 100%;
    padding: 0;
    border-left: 0;
    flex: 1;
    max-width: 200%;
  }

  p {
    margin: 0;
    padding: 0;
    line-height: 1.65em;
    font-size: $type-1;

    > a {
      display: inline-block;
    }
  }

  &--social {
    margin-top: $golden-ratio-4;
    margin-left: -0.35rem;

    > a,
    > a:visited {
      color: $smokeyx;
      padding: $golden-ratio-1;
      font-size: $type-4;

      &:first-child {
        margin-left: -$golden-ratio-1;
      }
    }

    > a:hover,
    > a:focus {
      color: $globe;
    }
  }
}

.utk-header.active {

  .utk-header-main {
    background-color: $white;
  }

  .utk-logo-wrapper {
    border-bottom: none;
    box-shadow: none;

    .utk-logo {
      margin-top: 53px;
    }

    &::before {
      width: 100%;
      display: block;
      top: 0;
    }
  }
}


@include respond(xs, sm, md) {
  .utk-header.utk-header-expand-menu .utk-resources-close {
    width: $golden-ratio-3;
    height: $golden-ratio-3;
    bottom: 27px;
    right: 27px;
    padding-top: 7px;
    padding-left: 1px;
    left: auto;

    > span {
      font-size: $type-2;
    }
  }
}

.utk-resources-close {
  display: block;
  width: $golden-ratio-4;
  height: $golden-ratio-4;
  line-height: $golden-ratio-4;
  background-color: $torch;
  position: absolute;
  right:  calc(50% - #{$golden-ratio-4 / 2});
  bottom: calc(-#{$golden-ratio-4 / 2});
  border-radius: $golden-ratio-4;
  text-align: center;
  box-shadow: $box-shadow;
  cursor: pointer;
  z-index: 1;
  box-shadow: $box-shadow-float;

  span {
    font-size: $type-3;
    color: $white;
    display: block;
    width: $golden-ratio-4;
    height: $golden-ratio-4;
  }
}

.utk-search-active {
  .utk-menu-help {
    opacity: 1;
    bottom: 15px;
    left: -5px;
    right: auto;
    width: auto;

    @include respond(sm, md, lg, xl) {
      left: auto;
      right: 15px;
    }
  }
  .utk-resources-close {
    width: 29px;
    height: 29px;
    bottom: 27px;
    right: 27px;
    padding-top: 7px;
    padding-left: 1px;
    left: auto;
    bottom: 24px !important;
    right: 25px !important;
    z-index: 11;

    @include respond(sm, md, lg, xl) {
      right: -200px !important;
    }

    > span {
      font-size: 15px;
      color: #FFFFFF;
    }
  }
}
