.utk-header-resources {
  width: 100%;
  background-color: $white;
  transition: $transition-all;
  top: -600px;
  opacity: 1;
  z-index: 98;
  position: fixed;
  position: fixed;
  box-shadow: $box-shadow;

  &.utk-header-expand-menu {
    top: 47px;
    opacity: 1;
    background-color: $white;
  }
}

.utk-header.utk-header-shrink:not(.utk-header-expand-menu) .utk-header-expand-menu {
  top: 81px;
}

.utk-resources-menu {
  position: relative;
  width: 100%;
  max-width: 819px;
  margin-left: 380px;
  display: flex;
  flex-direction: row;
  padding: $golden-ratio-4 0 3rem;

  &--col {
    width: 33%;
    display: block;

    .utk-resources-menu--section {
      > h3 {
        margin: 1rem 0 0.25rem;
        font-weight: 300;
        font-family: $sans;
        padding: 0;
        font-size: $type-3;
      }

      &:first-child > h3 {
        margin-top: 0;
      }

      a,
      a:visited {
        color: $globe;
        display: block;
        line-height: 1.6rem;
        font-size: $type-2;
        padding: 0.25rem 0 0.125rem;
        font-weight: 700;
        font-family: $sans;
      }

      a:focus,
      a:hover {
        color: $leconte;
      }
    }
  }

}

  .utk-header-expand-menu .utk-resources-contact {
  opacity: 1;
}

.utk-resources-contact {
  position: fixed;
  max-width: 360px;
  margin: 0 47px;
  top: 205px;
  transition: $transition-all;
  opacity: 0;

  p {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    font-size: $type-2;
    font-weight: 300;

    > a {
      display: inline-block;
    }
  }

  &--social {
    margin-top: $golden-ratio-4;

    > a,
    > a:visited {
      color: $rock;
      padding: 0.5rem;
      font-size: $type-3;

      &:first-child {
        margin-left: -0.5rem;
      }
    }

    > a:hover,
    > a:focus {
      color: $orange;
    }
  }
}

.utk-header-actions--resources {

  a,
  a:visited,
  a:hover,
  a:focus {
    font-weight: 700;
    color: $smokey !important;
  }

  .icon-menu {
    opacity: 1;
    font-size: 15px;
    padding: 1px;
    margin-right: 4px;
    transition: $transition-all;
  }

  .icon-cancel {
    opacity: 0;
    transition: $transition-all;
    position: absolute;
    margin-left: -26px;
  }

  .utk-header-expand-menu {

    .icon-menu {
      opacity: 0;
      transition: $transition-all;
    }

    .icon-cancel {
      opacity: 1;
      color: $rock;
    }
  }
}

.utk-header.active {

  .utk-header-main {
    background-color: $white;
  }

  .utk-logo-wrapper {
    border-bottom: none;
    box-shadow: none;

    .utk-logo {
      margin-top: 53px;
    }

    &::before {
      width: 100%;
      display: block;
      top: 0;
    }
  }
}

.utk-resources-close {
  display: block;
  width: $golden-ratio-4;
  height: $golden-ratio-4;
  background-color: $torch;
  position: absolute;
  left: 50%;
  margin-left: calc(-#{$golden-ratio-4 / 2});
  bottom: calc(-#{$golden-ratio-4 / 2});
  border-radius: $golden-ratio-4;
  text-align: center;
  padding-top: 15px;
  box-shadow: $box-shadow;
  cursor: pointer;
  z-index: 1;

  span {
    font-size: $type-3;
    color: $white;
  }
}