.utk-header-resources {
  width: 100%;
  background-color: $white;
  transition: none !important;
  z-index: 999;
  position: fixed;
  display: none;
  box-shadow: $box-shadow;
  padding: $golden-ratio-3 0 0;
  overflow: scroll;
  height: calc(100vh  - 66px);
  padding-bottom: 100px;

  @include respond(xs, sm) {
    background-color: $white;
    box-shadow: inset 0 5px 10px rgba($smokeyx, 0.05);
  }

  > .container {
    display: flex;

    @include respond(md, xs) {
      flex-direction: column;
    }
  }

  &::before {
    width: 100%;
    height: 1px;
    content: ' ';
    position: absolute;
  }

  /*
   * menu on tablet and down
   */

  //@include respond(xs, sm, md) {
  //  height: 100vh;
  //  background-color: $gray-0;
  //  max-width: 100%;
  //  transition: none !important;
  //  right: 0;
  //  top: 0;
  //  padding-top: 81px;
  //  right: -$golden-ratio-8;
  //
  //  &.utk-menu-depth--1 {
  //    background-color: $gray-2;
  //  }
  //
  //  > .container {
  //    padding: 0;
  //  }
  //}

  &.utk-header-expand-menu {
    display: block;
  }
}

.utk-header.utk-header-shrink:not(.utk-header-expand-menu) .utk-header-expand-menu {
  top: 81px;
}

.utk-resources-menu {
  width: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  padding: 0;
  padding-bottom: $golden-ratio-4;

  @include respond(md) {
    width: 100%;
  }

  @include respond(sm, xs) {
    display: block;
  }

  &--col {
    display: block;
    flex-grow: 1;

    @include respond(sm, xs) {
      width: 100%;

      .utk-resources-menu--submenu {
        display: none;
      }

    }

    .utk-resources-menu--section {
      margin-bottom: $golden-ratio-2;

      > h3 {
        margin: 0 0 6px;
        font-weight: 700;
        font-family: $sans;
        text-transform: uppercase;
        padding: 0;
        font-size: $type-2;
        color: $smokeyx;

        @include respond(md, sm, xs) {
          margin-top: 0;
          margin-bottom: $type-4;
          cursor: pointer;

        }
      }

      @include respond(lg, xl, xxl) {
        &:first-child > h3 {
          margin-top: 0;
        }
      }

      a,
      a:visited {
        color: $globe;
        display: block;
        font-size: $type-2;
        font-family: $sans;
      }

      a:focus,
      a:hover {
        color: $leconte;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}

  .utk-header-expand-menu .utk-resources-contact {
  opacity: 1;
}

.utk-resources-contact {
  max-width: 303px;
  opacity: 0;
  z-index: 1;
  height: auto;
  overflow: hidden;
  padding: 0 0 $golden-ratio-4 $golden-ratio-4;
  border-left: 1px solid #e0e0e0;

  @include respond(md, xs) {
    width: 100%;
    padding: 0;
    border-left: 0;
    flex: 1;
    max-width: 100%;
  }

  @include respond(xs) {
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
    line-height: 1.65em;
    font-size: $type-1;

    > a {
      display: inline-block;
    }
  }

  &--social {
    margin-top: $golden-ratio-4;
    margin-left: -0.35rem;

    > a,
    > a:visited {
      color: $smokeyx;
      padding: $golden-ratio-1;
      font-size: $type-4;

      &:first-child {
        margin-left: -$golden-ratio-1;
      }
    }

    > a:hover,
    > a:focus {
      color: $globe;
    }
  }
}

.utk-header-actions--resources {

  a,
  a:visited,
  a:hover,
  a:focus {
    font-weight: 700;
    color: $smokeyx !important;
  }

  .icon-menu {
    opacity: 1;
    margin-right: 6px;
    transition: $transition-all;
    font-size: 15px;
  }

  .icon-cancel {
    opacity: 0;
    transition: $transition-all;
    margin-right: 6px;
    font-size: 15px;
  }

  .utk-header-collapse {
    display: none !important;

    .icon-menu {
      opacity: 0;
      transition: $transition-all;
    }

    .icon-cancel {
      opacity: 1;
      font-size: 15px;
      color: $torch;
    }
  }
}

.utk-menu-open {
  .utk-header-collapse {
    display: inline-block !important;
  }

  .utk-header-expand {
    display: none !important;
  }
}

.utk-header.active {

  .utk-header-main {
    background-color: $white;
  }

  .utk-logo-wrapper {
    border-bottom: none;
    box-shadow: none;

    .utk-logo {
      margin-top: 53px;
    }

    &::before {
      width: 100%;
      display: block;
      top: 0;
    }
  }
}


@include respond(xs, sm, md) {
  .utk-header.utk-header-expand-menu .utk-resources-close {
    width: $golden-ratio-3;
    height: $golden-ratio-3;
    bottom: 27px;
    right: 27px;
    padding-top: 7px;
    padding-left: 1px;
    left: auto;

    > span {
      font-size: $type-2;
    }
  }
}

.utk-resources-close {
  display: block;
  width: $golden-ratio-4;
  height: $golden-ratio-4;
  line-height: $golden-ratio-4;
  background-color: $torch;
  position: absolute;
  right: 50%;
  margin-left: calc(-#{$golden-ratio-4 / 2});
  bottom: calc(-#{$golden-ratio-4 / 2});
  border-radius: $golden-ratio-4;
  text-align: center;
  box-shadow: $box-shadow-float;
  cursor: pointer;
  z-index: 1;

  span {
    font-size: $type-3;
    color: $white;
    display: block;
    width: $golden-ratio-4;
    height: $golden-ratio-4;
  }
}

.utk-search-active {
  .utk-menu-help {
    opacity: 1;
    bottom: 15px;
    left: -5px;
    right: auto;
    position: fixed;
    width: auto;

    @include respond(sm, md, lg, xl) {
      left: auto;
      right: 15px;
    }
  }
  .utk-resources-close {
    width: 29px;
    height: 29px;
    bottom: 27px;
    right: 27px;
    padding-top: 7px;
    padding-left: 1px;
    left: auto;
    position: fixed;
    bottom: 24px !important;
    right: 25px !important;
    z-index: 11;

    @include respond(sm, md, lg, xl) {
      right: -200px !important;
    }

    > span {
      font-size: 15px;
      color: #FFFFFF;
    }
  }
}