.utk-header-search {
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: -76px;
  opacity: 0;
  z-index: 0;
  background-color: $smokey;
  box-shadow: $box-shadow;
  height: 0;
}

body.utk-search-open {

  .utk-header-actions--search {
    display: inline-block !important;
    box-shadow: none;
    position: relative;

    @include respond(xs, sm) {
      &::after {
        width: 12px;
        height: 12px;
        display: block;
        position: absolute;
        right: 50%;
        top: 0;
        margin-right: -12px;
        content: ' ';
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 8px solid $orange;
      }
    }
  }

  .utk-header-search {
    top: 129px;
    opacity: 1;
    height: $golden-ratio-5;
    z-index: 99;

    @include respond(xs) {
      top: 66px;
      height: auto !important;
    }
  }
}

.utk-search-wrapper {
  position: relative;
  width: calc(100% - 304px);
  max-width: 894px;
  left: 304px;
  display: flex;
  flex-direction: row;
  height: $golden-ratio-5;
  flex-grow: 1;

  @include respond(sm, xs) {
    left: 0;
    width: 100%;
    max-width: 100%;
  }

  @include respond(xs) {
    flex-direction: column;
    height: 100% !important;
  }

  &--form-item {
    width: 100%;
    display: flex;

    @include respond(xs) {
      width: auto;
      margin: $golden-ratio-1 0 15px;
    }
  }

  input:focus + i {
    //display: none;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    //color: $rock;
  }

  input#utk-search-field {
    border: none;
    background-color: transparent;
    flex-grow: 1;
    font-weight: 400;
    height: auto;
    font-size: $type-3;
    line-height: 2rem;
    height: $golden-ratio-4;
    padding: 0 $type-1 0 $type-3;
    margin: 15px 0 14px;
    color: $white;
    background-color: $smokeyx;
    box-shadow: inset $box-shadow;
    outline-offset: -1px;
    position: relative;
    border-radius: 47px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    @include respond(xs) {
      margin: 0;
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-size: $type-3;
      color: $rock;
      text-indent: -5px;
    }

    &:focus {
      z-index: 1;

      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        display: none;
      }
    }
  }

  button#utk-search-submit {
    display: block;
    border: none;
    background-color: $smokeyx;
    color: $rock;
    width: auto;
    height: $golden-ratio-4;
    font-size: $type-2;
    padding: 0 1rem;
    margin: 15px 0 14px -6px;
    border-radius: 47px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    border-left: 1px solid lighten($smokeyx, 5);

    @include respond(xs) {
      margin: 0;
      min-width: 76px;
    }

    &:hover,
    &:focus {
      /*
       *
       */
    }

    &:focus {
      clip-path: none;
    }
  }
}

.utk-header-actions--search {

  a,
  a:visited,
  a:hover,
  a:focus {
    color: $smokeyx !important;
    font-weight: 700;
  }

  .icon-search {
    opacity: 1;
    font-size: 15px;
    padding: 1px;
    margin-right: 6px;
  }

  .icon-cancel {
    display: none;
    opacity: 1;
    font-size: 15px;
    padding: 1px;
    margin-right: 6px;
  }

  .utk-header-expand-search {
    .icon-search {
      display: none !important;
    }

    .icon-cancel {
      display: inline;
      color: $torch;

      @media only screen and (max-width: 414px) {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        font-size: $type-3;
        margin: 0;
      }
    }
  }
}

.utk-search-options {
  z-index: 101;
  display: flex;
  height: $golden-ratio-4;
  transition: $transition-all;
  padding: $golden-ratio-2 $golden-ratio-3 0;
  margin: 15px 0 14px;
  position: relative;

  @include respond(xs) {
    padding: $golden-ratio-2 0 0 0;
    margin: 15px auto 25px;
    height: 39px;
  }

  svg {
    height: 11px;
    margin-top: 2px;
    fill: $white;
  }

  .utk-triangle {
    position: absolute;
    left: 68px;
    bottom: -20px;
    transition: $transition-all-fast;
  }

  .utk-search-toggle {
    width: $golden-ratio-4;
    height: $golden-ratio-3;
    border-radius: $golden-ratio-4;
    background-color: $smokeyx;
    position: relative;
    cursor: pointer;
    margin-top: -8px;
    box-shadow: inset $box-shadow;

    .utk-search-toggle-button {
      position: absolute;
      width: $golden-ratio-2;
      height: $golden-ratio-2;
      background-color: $gray-1;
      border-radius: inherit;
      top: calc(#{($golden-ratio-3 - $golden-ratio-2) / 2});
      left: calc(#{($golden-ratio-3 - $golden-ratio-2) / 2});
      transition: $transition-all-fast;
      box-shadow: $box-shadow;
    }

    &:hover .utk-search-toggle-button {
      background-color: $white;
    }
  }

  #utk-search-toggle-libraries {
    color: $gray-1;
    transition: $transition-all;
  }

  label {
    cursor: pointer;
    font-size: $type-2;
    color: $gray-1;
    font-weight: 700;
    display: block;
    transition: $transition-all-fast;
    line-height: $type-2;
    margin-left: $golden-ratio-1;
    position: relative;

    &::after {
      height: $golden-ratio-0;
      background-color: $orange;
      content: ' ';
      position: absolute;
      left: 0;
      bottom: -14px;
      opacity: 0;
      width: 0;
      transition: $transition-all-fast;
    }

    &:first-child {
      margin-right: $golden-ratio-1;
      margin-left: 0;
    }
  }
}

.utk-search-onesearch {

  .svg {
    color: $white;
  }

  #utk-search-toggle-onesearch {

    &::after {
      opacity: 1;
      width: 100%;
    }


    img.utk-onesearch {
      opacity: 1;
    }

    img.utk-onesearch-mono {
      opacity: 0;
    }
  }

  #utk-search-toggle-libraries {
    color: $gray-1;
  }

  .utk-search-options .utk-search-toggle {
    .utk-search-toggle-button {
      left: calc(#{($golden-ratio-3 - $golden-ratio-2) / 2});
    }
  }
}

.utk-search-libraries {

  svg {
    fill: $gray-1;
  }

  #utk-search-toggle-onesearch {
    img.utk-onesearch {
      opacity: 0;
    }

    img.utk-onesearch-mono {
      opacity: 1;
    }
  }

  #utk-search-toggle-libraries {
    color: $white;

    &::after {
      opacity: 1;
      width: 100%;
    }
  }

  .utk-triangle {
    position: absolute;
    left: 220px;
  }

  .utk-search-options .utk-search-toggle {
    .utk-search-toggle-button {
      left: calc(#{(($golden-ratio-3 - $golden-ratio-2) / 2) + $golden-ratio-2});
    }
  }
}
