.utk-header-search {
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: -76px;
  opacity: 0;
  z-index: 0;
  background-color: $smokey;
  box-shadow: $box-shadow-float;
  height: 0;
  transition: $transition-all;
}

body.utk-search-open {

  .utk-header-actions--search {
    display: inline-block !important;
    box-shadow: none;
    position: relative;

    @include respond(xs, sm) {
      &::after {
        width: 12px;
        height: 12px;
        display: block;
        position: absolute;
        right: 50%;
        top: 0;
        margin-right: -12px;
        content: ' ';
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 8px solid $orange;
      }
    }
  }

  .utk-header-search {
    top: 129px;
    opacity: 1;
    height: $golden-ratio-5;
    z-index: 96;

    @include respond(xs) {
      top: 66px;
      height: auto !important;
    }
  }
}

.utk-search-wrapper {
  position: relative;
  width: calc(100% - 304px);
  max-width: 100%;
  left: 304px;
  display: flex;
  flex-direction: row;
  height: $golden-ratio-5;
  flex-grow: 1;
  transition: $transition-all;

  @include respond(sm, xs) {
    left: 0;
    width: 100%;
    max-width: 100%;
  }

  @include respond(xs) {
    flex-direction: column;
    height: 100% !important;
  }

  &--form-item {
    width: 100%;
    display: flex;
    position: relative;

    &--icon {
      position: absolute;
      left: 0;
      top: 15px;
      width: $golden-ratio-4;
      height: $golden-ratio-4;
      background-color: transparent;
      z-index: 2;
      border-top-left-radius: $golden-ratio-3;
      border-bottom-left-radius: $golden-ratio-3;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      clip-path: polygon(0 0, calc(100% - 6px) 0, 100% 100%, 0 100%);

      > span {
        color: $rock;
        font-size: $type-2;
        transition: $transition-all;
      }

      &:focus {
        &::placeholder {
          opacity: 0;
          color: $rock;
        }
      }
    }

    &:focus-within {
      .utk-search-wrapper--form-item--icon > span {
        color: $globe;
        font-size: $type-2;
        transition: $transition-all;
      }
    }

    @include respond(xs) {
      width: auto;
      margin: $golden-ratio-1 0 15px;
    }
  }

  //input:focus + i {
  //  display: none;
  //}

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    //color: $rock;
  }


  input#utk-search-field {
    width: calc(100% - 2px);
    height: $golden-ratio-4;
    border-radius: $golden-ratio-3;
    font-size: $type-2;
    font-weight: 400;
    background-color: $white;
    padding: 0 $golden-ratio-2 0 $golden-ratio-4;
    margin: 15px 0 0;
    font-family: $sans;
    outline: none;
    color: $smokeyx;
    border: none;

    &:focus {
      z-index: 1;
    }

    &::placeholder {
      color: $rock;
      opacity: 1;
      transition: $transition-opacity;
      text-indent: -5px;

      @include respond(xs) {
        opacity: 0 !important;
      }
    }

    &:focus {
      box-shadow: $box-shadow-float;

      &::placeholder {
        color: $rock;
      }
    }
  }

  button#utk-search-submit {
    background-color: $globe;
    font-family: $sans;
    text-transform: uppercase;
    font-size: $type-2;
    font-weight: 700;
    padding: 0 18px;
    color: $white;
    position: absolute;
    right: 0;
    top: 15px;
    height: $golden-ratio-4;
    border: none;
    z-index: 2;
    margin-right: 0;
    box-shadow: none;
    border-top-right-radius: $golden-ratio-3;
    border-bottom-right-radius: $golden-ratio-3;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 6px 100%);
    cursor: pointer;
  }
}

.utk-header-actions--search {

  a,
  a:visited,
  a:hover,
  a:focus {
    color: $smokeyx !important;
    font-weight: 700;
  }

  .icon-search {
    opacity: 1;
    font-size: 15px;
    padding: 1px;
    margin-right: 6px;
  }

  .icon-cancel {
    display: none;
    opacity: 1;
    font-size: 15px;
    padding: 1px;
    margin-right: 6px;
  }

  .utk-header-expand-search {
    .icon-search {
      display: none !important;
    }

    .icon-cancel {
      display: inline;
      color: $torch;

      @media only screen and (max-width: 414px) {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        font-size: $type-3;
        margin: 0;
      }
    }
  }
}

.utk-search-options {
  z-index: 101;
  display: flex;
  height: $golden-ratio-4;
  transition: $transition-all;
  padding: $golden-ratio-2 $golden-ratio-3 0;
  margin: 15px 0 14px;
  position: relative;

  @include respond(xs) {
    padding: $golden-ratio-2 0 0 0;
    margin: 15px auto 25px;
    height: 39px;
  }

  svg {
    height: 12px;
    margin-top: 1px;
    fill: $white;
  }

  .utk-search-toggle {
    width: $golden-ratio-4;
    height: $golden-ratio-3;
    border-radius: $golden-ratio-4;
    background-color: $smokeyx;
    position: relative;
    cursor: pointer;
    margin-top: -8px;
    box-shadow: inset $box-shadow;

    .utk-search-toggle-button {
      position: absolute;
      width: $golden-ratio-2;
      height: $golden-ratio-2;
      background-color: $gray-1;
      border-radius: inherit;
      top: calc(#{($golden-ratio-3 - $golden-ratio-2) / 2});
      left: calc(#{($golden-ratio-3 - $golden-ratio-2) / 2});
      transition: $transition-all-fast;
      box-shadow: $box-shadow;
    }

    &:hover .utk-search-toggle-button {
      background-color: $white;
    }
  }

  #utk-search-toggle-libraries {
    color: $gray-1;
    transition: $transition-all;
  }

  label {
    cursor: pointer;
    font-size: $type-2;
    color: $smokey;
    font-weight: 700;
    display: block;
    transition: $transition-all-fast;
    line-height: $type-2;
    margin-left: $golden-ratio-1;
    position: relative;

    &::after {
      height: $golden-ratio-0;
      background-color: $orange;
      content: ' ';
      position: absolute;
      left: 0;
      bottom: -14px;
      opacity: 0;
      width: 0;
      transition: $transition-all-fast;
    }

    &:first-child {
      margin-right: $golden-ratio-1;
      margin-left: 0;
    }
  }
}

.utk-search-onesearch {

  .svg {
    color: $smokeyx;
  }

  #utk-search-toggle-onesearch {

    &::after {
      opacity: 1;
      width: 100%;
    }


    img.utk-onesearch {
      opacity: 1;
    }

    img.utk-onesearch-mono {
      opacity: 0;
    }
  }

  #utk-search-toggle-libraries {
    color: $gray-1;
  }

  .utk-search-options .utk-search-toggle {
    .utk-search-toggle-button {
      left: calc(#{($golden-ratio-3 - $golden-ratio-2) / 2});
    }
  }
}

.utk-search-libraries {

  svg {
    fill: $gray-1;
  }

  #utk-search-toggle-onesearch {
    img.utk-onesearch {
      opacity: 0;
    }

    img.utk-onesearch-mono {
      opacity: 1;
    }
  }

  #utk-search-toggle-libraries {
    color: $white;

    &::after {
      opacity: 1;
      width: 100%;
    }
  }

  .utk-triangle {
    position: absolute;
    left: 220px;
  }

  .utk-search-options .utk-search-toggle {
    .utk-search-toggle-button {
      left: calc(#{(($golden-ratio-3 - $golden-ratio-2) / 2) + $golden-ratio-2});
    }
  }
}
