.utk-header-search {
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: -76px;
  opacity: 0;
  z-index: 99;
  background-color: $smokey;
  box-shadow: $box-shadow;

  &::after {
    width: 100%;
    height: 7px;
    display: block;
    position: absolute;
    content: ' ';
    background-color: lighten( $smokey, 5);
    left: 0;
    bottom: 0;
  }
}

body.utk-search-open {
  .utk-header-search {
    top: 129px;
    opacity: 1;
    height: $golden-ratio-5;
  }
}

.utk-search-wrapper {
  position: relative;
  width: calc(100% - 304px);
  max-width: 894px;
  left: 304px;
  display: flex;
  flex-direction: row;
  height: $golden-ratio-5;
  transition: $transition-all;
  flex-grow: 1;

  &--form-item {
    width: 100%;
    display: flex;
  }

  input:focus + i {
    //display: none;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    //color: $rock;
  }

  input#utk-search-field {
    border: none;
    background-color: transparent;
    flex-grow: 1;
    font-weight: 700;
    height: auto;
    font-size: $type-2;
    line-height: 2rem;
    height: $golden-ratio-4;
    padding: 0 $type-1;
    margin: 12px 0;
    color: $smokeyx;
    background-color: $white;
    box-shadow: inset $box-shadow;
    outline-offset: -1px;
    position: relative;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-size: $type-2;
    }

    &:focus {
      z-index: 1;

      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        display: none;
      }
    }
  }

  input#utk-search-submit {
    display: block;
    border: none;
    background-color: $gray-0;
    border-left: 1px solid $gray-1;
    color: $smokeyx;
    width: auto;
    height: $golden-ratio-4;
    font-size: $type-2;
    padding: 0 1rem;
    margin: 12px 0;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    position: relative;

    &:hover,
    &:focus {
      background-color: $gray-1;
      z-index: 1;
    }
  }
}

.utk-header-actions--search {

  a,
  a:visited,
  a:hover,
  a:focus {
    color: $smokeyx !important;
    font-weight: 700;
  }

  .icon-search {
    opacity: 1;
    font-size: 18px;
    padding: 1px;
    transition: $transition-all;
    margin-right: 6px;
  }

  .icon-cancel {
    opacity: 0;
    font-size: 18px;
    transition: $transition-all;
    position: absolute;
    margin-left: -34px;
  }

  .utk-header-expand-search {

    .icon-search {
      opacity: 0;
      transition: $transition-all;
    }

    .icon-cancel {
      opacity: 1;
      color: $torch;
    }
  }
}

.utk-search-options {
  z-index: 101;
  display: flex;
  height: $golden-ratio-4;
  transition: $transition-all;
  padding: $golden-ratio-2 $golden-ratio-3 0;
  margin: 12px 0;
  position: relative;

  img {
    height: $type-1 - 2px;
    margin-top: 2px;
  }

  .utk-triangle {
    position: absolute;
    left: 68px;
    bottom: -20px;
    transition: $transition-all-fast;
  }

  .utk-search-toggle {
    width: $golden-ratio-4;
    height: $golden-ratio-3;
    border-radius: $golden-ratio-4;
    background-color: $smokeyx;
    position: relative;
    cursor: pointer;
    margin-top: -8px;
    box-shadow: inset $box-shadow;

    .utk-search-toggle-button {
      position: absolute;
      width: $golden-ratio-2;
      height: $golden-ratio-2;
      background-color: $gray-1;
      border-radius: inherit;
      top: calc(#{($golden-ratio-3 - $golden-ratio-2) / 2});
      left: calc(#{($golden-ratio-3 - $golden-ratio-2) / 2});
      transition: $transition-all-fast;
      box-shadow: $box-shadow;
    }

    &:hover .utk-search-toggle-button {
      background-color: $gray-1;
    }
  }
  #utk-search-toggle-onesearch {

    img.utk-onesearch {
      opacity: 1;
      position: absolute;
      transition: $transition-all;
    }

    img.utk-onesearch-mono {
      opacity: 0;
      transition: $transition-all;
    }
  }

  #utk-search-toggle-libraries {
    color: $rock;
    transition: $transition-all;
  }

  label {
    cursor: pointer;
    font-size: $type-2;
    color: $rock;
    font-weight: 700;
    display: block;
    transition: $transition-all-fast;
    line-height: $type-2;
    margin-left: $golden-ratio-1;
    position: relative;

    &::after {
      height: $golden-ratio-0;
      background-color: $orange;
      content: ' ';
      position: absolute;
      left: 0;
      bottom: -17px;
      opacity: 0;
      width: 0;
      transition: $transition-all-fast;
    }

    &:first-child {
      margin-right: $golden-ratio-1;
      margin-left: 0;
    }
  }
}

.utk-search-onesearch {
  #utk-search-toggle-onesearch {

    &::after {
      opacity: 1;
      width: 100%;
    }


    img.utk-onesearch {
      opacity: 1;
    }

    img.utk-onesearch-mono {
      opacity: 0;
    }
  }

  #utk-search-toggle-libraries {
    color: $rock;
  }

  .utk-search-options .utk-search-toggle {
    .utk-search-toggle-button {
      left: calc(#{($golden-ratio-3 - $golden-ratio-2) / 2});
    }
  }
}

.utk-search-libraries {
  #utk-search-toggle-onesearch {
    img.utk-onesearch {
      opacity: 0;
    }

    img.utk-onesearch-mono {
      opacity: 1;
    }
  }

  #utk-search-toggle-libraries {
    color: $white;

    &::after {
      opacity: 1;
      width: 100%;
    }
  }

  .utk-triangle {
    position: absolute;
    left: 220px;
  }

  .utk-search-options .utk-search-toggle {
    .utk-search-toggle-button {
      left: calc(#{(($golden-ratio-3 - $golden-ratio-2) / 2) + $golden-ratio-2});
    }
  }
}