.utk-menu-back {
  display: block;
  width: $golden-ratio-3;
  height: $golden-ratio-3;
  background-color: $globe;
  position: absolute;
  left: 0;
  border-radius: $golden-ratio-3;
  text-align: center;
  padding-top: 5px;
  box-shadow: $box-shadow-float;
  cursor: pointer;
  z-index: 1;
  margin-top: -4px;

  span {
    font-size: $type-2;
    color: $white;
    display: block;
    margin-left: -1px;
    margin-top: -2px;
    width: $golden-ratio-3;
    height: $golden-ratio-3;
  }
}

.utk-menu-depth--0 {
  .utk-secondary-menu {
    display: none;
  }
}

.utk-menu-depth--1 {
  .utk-secondary-menu {
    display: block;
  }
}

.utk-secondary-menu {
  position: relative;
  height: 100%;
  transition: $transition-all;
  padding-left: $golden-ratio-4;
  padding-top: $golden-ratio-2;

  @include respond(xs) {
    padding-top: 0;
  }

  .utk-resources-menu--section {
    h3 {
      margin: 0;
      font-weight: 700;
      font-family: $sans;
      padding: 0;
      font-size: $type-3;
      margin-bottom: $golden-ratio-1;
      color: $smokeyx;
    }

    a,
    a:visited {
      color: $globe;
      display: block;
      line-height: 1.6rem;
      font-size: $type-2;
      padding: 0.5rem 0 0.125rem;
      font-weight: 400;
      font-family: $sans;
    }

    a:focus,
    a:hover {
      color: $leconte;
    }
  }
}