.utk-resources-menu--volumes {
  width: calc(100% - 76px);
  margin-top: $golden-ratio-4;
  margin-bottom: $golden-ratio-1;
  margin-right: $golden-ratio-4;
  color: $rock;
  font-family: $sans;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  -webkit-font-smoothing: antialiased;

  .utk-volumes--feature {
    display: flex;
    position: relative;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    justify-content: right;
    height: 270px;

    div {
      display: block;
      font-weight: 400;      padding-top: 33px;
      padding-left: 33px;
      padding-right: $golden-ratio-3;
      line-height: 1.25em;
      font-size: $type-3;
      background-color: $white;
      margin-right: -$golden-ratio-5;
      padding-bottom: $golden-ratio-3;
      margin-top: $golden-ratio-3;
      margin-bottom: $golden-ratio-3;
      position: relative;
      width: calc(38.2% + 47px);
      z-index: 1;
      position: absolute;
      left: 0;

      strong {
        display: block;
      }

      em {
        font-style: normal;
        margin-top: $golden-ratio-1;
        display: block;
        font-size: $type-2;
        line-height: 1.35em;
      }

      span {
        display: block;
        margin-top: $golden-ratio-2;
        font-size: $type-0;
        line-height: 1.35em;
        text-transform: uppercase;
        color: $globe
      }

      &:before {
        position: absolute;
        content: " ";
        width:  $golden-ratio-4;
        height: $golden-ratio-4;
        top: 0;
        left: 0;
        border-top: 6px solid $orange;
        border-left: 6px solid $orange;
      }

    }
  }

  .utk-volumes--extras {
    display: flex;
    margin-top: $golden-ratio-3;

    &--item {
      display: flex;
      padding-right: $golden-ratio-3;

      &:last-child {
        padding-right: 0;
      }

      img {
        width: $golden-ratio-5;
        height: $golden-ratio-5;
      }

      span {
        font-size: $type-2;
        line-height: 1.35em;
        margin-left: $golden-ratio-2;
        margin-top: $golden-ratio-1;
      }
    }
  }
}

.utk-volumes--feature {
  img {
    position: absolute;
    height: 270px;
    right: 0;
    top: 0;
  }

  span {
    font-weight: 700;
  }
}