.utk-splash {
  background-color: $smokey;
  width: 100%;
  height: $golden-ratio-8;
}

.utk-events-news {
  background-color: $white;
  width: 100%;
  height: $golden-ratio-9;
}

.utk-social-slider {
  background-color: $offwhite;
  width: 100%;
  height: $golden-ratio-9;
}

.utk-subfooter {
  background-color: $smokey;
  width: 100%;
  height: $golden-ratio-9;
}

.utk-footer {
  background-color: $white;
  width: 100%;
  height: $golden-ratio-8;
  border-top: $golden-ratio-2 solid $orange;
}

.utk-superfooter {
  background-color: $gray;
  width: 100%;
  height: $golden-ratio-4;
}