.utk-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  border-top: 6px solid $orange;
  font-family: $sans;
  color: $smokeyx;
  font-size: 15px;

  .utk-header-main {
    background-color: $white;
    height: 76px;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: $transition-all-fast;
    position: relative;
    box-shadow: $box-shadow;

    @include respond(sm) {
      margin-top: 0;
    }

    @include respond(xs) {
      margin-top: 0;
      height: 60px !important;
    }

    > .container {
      display: flex;
      justify-content: space-between;
    }
  }
}

.utk-header-actions {
  display: flex;
  flex-direction: row;
  width: auto;
  padding-top: 3px;
  height: $golden-ratio-5;
  align-items: flex-end;
  flex-shrink: 1;
  margin-right: -14.5px !important;

  @include respond(xs, sm) {
    padding-top: 0;
  }

  @include respond(xs) {
    right: 0;
    margin-top: 0 !important;
    height: 60px;
  }

  @media only screen and (max-width: 460px) {
    margin-right: -18px !important;
  }

  .utk-header-actions {

    &--item {
      flex-grow: 0;
      flex-shrink: 1;
      display: block;
      width: auto;
      height: auto;
      margin: auto;
      font-weight: 400;
      line-height: $type-3;
      font-size: $type-2;
      text-transform: uppercase;

      > a > span {
        color: $rock;
      }

      &.utk-header-actions--home {
        text-transform: none;
      }

      //@media only screen and (max-width: 500px) {

      @include respond(xs) {
        &.utk-header-actions--home {
          display: none;
        }
      }


      &.utk-header-actions--home {
        > a {
          font-weight: 400 !important;
        }

        @include respond(xs) {
          display: none;
        }
      }

      em {
        font-style: normal;

        @include respond(xs) {
          font-size: $type-2;
        }
      }

      a {
        margin-top: 2px;
        padding: 0 calc(#{$golden-ratio-3} / 2);
        color: $smokeyx !important;
        font-weight: 700;
        display: flex;
        align-content: center;
        align-items: center;

        @media only screen and (max-width: 460px) {
          flex-direction: column;
          justify-items: center;
          align-items: center;
          align-content: center;
          padding: 0 18px !important;
          width: 60px;

          > span {
            margin: 0;
            color: $smokey;
            font-size: 24px;
          }

          em {
            display: none;
          }
        }
      }
    }
  }

  &--resources,
  &--search {
    .icon-menu,
    .icon-search,
    .icon-cancel {
      font-size: $type-2;
      margin-right: $golden-ratio-0;
    }

    .icon-cancel {
      color: $torch !important;
    }

    .utk-header-collapse,
    .utk-search-collapse {
      display: none !important;
    }
  }
}

body.utk-menu-open {
  .utk-header-expand {
    display: none !important;
  }

  .utk-header-collapse {
    display: flex !important;
  }
}

body.utk-search-open {
  .utk-search-expand {
    display: none !important;
  }

  .utk-search-collapse {
    display: flex !important;
  }
}
