.utk-logo-wrapper {
  z-index: 10;
  margin-top: -6px;
  padding: 0;
  display: inline-block;
  width: auto;
  position: absolute;
  border-bottom: 6px solid $orange;
  transition: $transition-all;
  box-shadow: $box-shadow;

  &::before {
    left: 0;
    content: ' ';
    display: block;
    height: 6px;
    position: absolute;
    background-color: $orange;
    z-index: 99;
    width: 0;
    transition: $transition-all;
  }

  &::after {
    left: 0;
    top: 47px;
    content: ' ';
    display: block;
    height: 6px;
    position: absolute;
    z-index: 99;
    width: 0;
    box-shadow: inset 0 2px 5px rgba($gray, 0.08);
    transition: $transition-all;
  }

  .utk-logo {
    border-top: 6px solid $white;
    padding: 41px 47px 47px;
    height: 70px;
    box-sizing: content-box;
    transition: $transition-all;
    position: relative;
    background-color: $white;
    top: 0;
  }
}

.utk-logo-shortcut {
  top: 25px;
  left: -2000px;
  height: 25px;
  transition: $transition-all;
  position: absolute;
  z-index: 100;
}

.utk-header.utk-header-expand-menu {
  .utk-logo-wrapper {
    .utk-logo {
      margin-top: 0;
      padding: 88px 47px 47px;

      @include respond(xs, sm, md) {
        margin-top: -100px;
        transform: scale(0);
        opacity: 1;
      }
    }

    @include respond(xs, sm, md) {
      &::after {
        width: 0 !important;
      }
    }
  }

  @include respond(xs, sm, md) {
    .utk-header-main {
      height: 81px;
      box-shadow: $box-shadow;
      overflow: hidden;

      .utk-logo-shortcut {
        top: 25px;
        left: 25px;
        display: block;

      }
    }
  }
}

.utk-header:not(.utk-header-expand-menu) .utk-header-main.utk-shortcut:not(.utk-header-expand-menu) {

  height: 81px;
  box-shadow: $box-shadow;
  overflow: hidden;

  .utk-logo-wrapper {
    height: 0;
    width: 304px;
    box-shadow: none;
    border-bottom: 0px solid $white;

    .utk-logo {
      margin-top: -100px;
      transform: scale(0);
      opacity: 1;
    }

    &::before {
      width: 100%;
      display: block;
      top: 0;
    }
  }

  .utk-logo-shortcut {
    top: 25px;
    left: 0;
    display: block;

    @include respond(xs, sm, md) {
      left: 25px;
    }

  }

  .utk-header-actions {
    top: 18px;
  }
}

@include respond(xs) {
  .utk-header.utk-header-expand-menu .utk-header-actions {
    right: 15px;
    margin-top: 13px;
  }

}

@include respond(xs) {
  .utk-header {

    .utk-header-main {
      height: 81px;
      box-shadow: $box-shadow;
      overflow: hidden;

      .utk-header-actions {
        right: 11px;
        margin-top: 13px;
      }

      .utk-menu-trigger {
        padding: calc((47px - 6px - 15px) / 2) 11px;

        .icon-cancel {
          margin-left: -38px;
        }
      }

      .utk-header-actions--search > a,
      .utk-header-actions--search > a:visited {
        padding: calc((47px - 6px - 15px) / 2) 11px;

        .icon-cancel {
          margin-left: -33px;
        }
      }

      .utk-logo-wrapper {
        height: 0;
        width: 304px;
        box-shadow: none;
        border-bottom: 0px solid $white;

        .utk-logo {
          margin-top: -100px;
          transform: scale(0);
          opacity: 1;
        }

        &::before {
          width: 100%;
          display: block;
          top: 0;
        }
      }

      .utk-logo-shortcut {
        top: 25px;
        left: 25px;
        display: block;

      }
    }

    .utk-header-search.utk-header-expand-search {
      top: 81px;
      height: 322px;

      .utk-search-wrapper {
        display: block;
        max-width: 100%;
        height: 100%;
        left: auto;
        position: relative;

        .utk-search-options {
          position: relative;
          right: auto;
          text-align: center;
          flex-direction: row;
          justify-content: center;
        }
      }

      .utk-search-wrapper--form-item {
        input#utk-search-field {
          height: 47px;
          padding: 18px;
          text-align: left;
          margin-top: 145px;
        }
        input#utk-search-submit {
          position: absolute;
          margin: 0;
          top: auto;
          left: 7px;
          bottom: 25px;
          height: 47px;
          width: calc(100% - 13px);
        }
      }
    }
  }
}