body.utk-menu-open .utk-header-super,
body.utk-search-open .utk-header-super {
  height: auto !important;
}

.utk-header-super {
  @include respond(xs, sm) {
    display: none;
    position: relative !important;
    display: none;
    width: 100%;
    overflow: scroll !important;
    background-color: $gray-1 !important;

    &--menu {
      float: none !important;
      width: 100%;

      a,
      a:visited,
      a:hover,
      a:focus {
        color: $smokeyx!important;
        font-weight: 400 !important;
      }

      > li:first-child {
        > a {
          padding-left: 0;
        }
      }
    }
  }

  &--url {
    position: absolute;
    left: -2000px;
    transition: $transition-all;
  }

  &--menu {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    margin-right: -$golden-ratio-1;

    &::before {
      height: $golden-ratio-4;
      line-height: $golden-ratio-4;
      font-size: $type-0;
      text-transform: uppercase;
      font-weight: 700;
    }


    > li {
      margin: 0;
      padding: 0;
      list-style: none;

      &.utk-header-super--menu--options {
        width: 0;
        position: relative;
        right: -200px;
        opacity: 0;
        overflow: hidden;
        display: flex;
      }

      a,
      a:visited {
        height: $golden-ratio-4;
        line-height: $golden-ratio-4;
        padding: 0 calc(#{$golden-ratio-2} / 2) 0;
        font-size: $type-1;
        font-weight: 400;
        display: block;
        color: $smokey !important;
        text-decoration: none !important;
        position: relative;

        &:before {
          width: 12px;
          height: 12px;
          display: block;
          position: absolute;
          right: 50%;
          top: 0;
          margin-right: -12px;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-top: 8px solid #ff8200;
          opacity: 0;
        }

        &:hover,
        &:focus {
          color: $smokeyx !important;

          &::before {
            opacity: 1;
          }
        }
      }

      &:last-child > a {
        margin-right: calc(#{$golden-ratio-2} / 2);
      }
    }
  }

  .utk-header-super--menu--options {

    .utk-header-actions--resources .icon-menu,
    .utk-header-actions--resources .icon-cancel {
      margin-top: 15px;
      transition: none !important;
    }

    .utk-header-actions--search .icon-search,
    .utk-header-actions--search .icon-cancel {
      transition: none !important;
    }

    a,
    a:visited {
      color: $smokeyx !important;
      text-transform: none;

      &::after {
        display: none !important;
      }
    }

    a:hover,
    a:focus {
    }

    em {
      font-style: normal;
    }
  }
}
