.utk-header-super {
  &--url {
    position: absolute;
    left: -2000px;
    transition: $transition-all;
  }

  &--menu {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    margin-right: -$golden-ratio-1;


    > li {
      margin: 0;
      padding: 0;
      list-style: none;

      &.utk-header-super--menu--options {
        width: 0;
        position: relative;
        right: -200px;
        opacity: 0;
        overflow: hidden;
        display: flex;
      }

      a,
      a:visited {
        height: $golden-ratio-4;
        line-height: $golden-ratio-4;
        padding: 0 $golden-ratio-1;
        font-size: $type-2;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        color: $smokey;
        text-decoration: none !important;
        transition: $transition-all;
        position: relative;

        &:after {
          background-color: $orange;
          opacity: 0;
          padding: 0;
          height: 2px;
          content: ' ';
          display: block;
          position: absolute;
          bottom: 13px;
          width: 0;
          transition: $transition-all;
        }

        &:hover,
        &:focus {
          color: $smokeyx !important;

          &::after {
            opacity: 1;
            padding: 0 $golden-ratio-1;
            width: calc(100% - 22px);
          }
        }
      }
    }
  }

  .utk-header-super--menu--options {

    .utk-header-actions--resources .icon-menu,
    .utk-header-actions--resources .icon-cancel {
      margin-top: 15px;
      transition: none !important;
    }

    .utk-header-actions--search .icon-search,
    .utk-header-actions--search .icon-cancel {
      transition: none !important;
    }

    a,
    a:visited {
      color: $smokeyx !important;
      text-transform: none;

      &::after {
        display: none !important;
      }
    }

    a:hover,
    a:focus {
    }

    em {
      font-style: normal;
    }
  }
}