.utk-digital-toolbar {

  .ui {
    border-radius: 0 !important;
  }

  .ui.button {
    font-size: $type-2 !important;
    border-radius: 0 !important;
  }

  .ui.action.input {
    margin-bottom: $golden-ratio-3;

    > input {
      border-radius: 0 !important;
      font-size: $type-3 !important;

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $rock;
      }
    }

    .ui.button  {
      background-color: $globe !important;
      color: $white;
      font-size: $type-3 !important;
    }
  }

  .ui.dropdown {
    margin-right: $golden-ratio-3;
    background-color: $smokey !important;
    color: $white !important;
    font-size: $type-2 !important;
  }

  .ui.buttons {

    button.ui.button {
      /*

       */
    }

    button.ui.button.active {
      background-color: $smokey !important;
      color: $white !important;
      font-weight: 400 !important;
      border: 2px solid $smokey !important;
    }

    button.ui.button.basic {
      border: 2px solid $smokey !important;
      color: $gray-3 !important;
      background-color: rgba($smokeyx, 0.85) !important;

      &:hover,
      &:focus {
        border: 2px solid $smokey !important;
        color: $white !important;
        background-color: $smokeyx !important;
      }
    }

    button.ui.button.active,
    button.ui.button.basic {

      &:first-child {
        border-right: none !important;
      }

      &:last-child {
        border-left: none !important;
      }
    }
  }

}

.ui.visible.popup {
  background-color: $white!important;
  border: none !important;
  padding: $golden-ratio-2 $golden-ratio-5 $golden-ratio-2 $golden-ratio-2 !important;
  box-shadow: 0 0 18px rgba($smokeyx, 0.29)!important;
  position: relative;
  border-bottom: $golden-ratio-0 solid $orange !important;

  &::before {
    background-color: $white!important;
    box-shadow: none !important;
    width: $golden-ratio-3;
    height: $golden-ratio-3;
    margin-top: 4px;
    left: $golden-ratio-3 !important;
    z-index: 0;
  }
}

.utk-digital-date-slider.noUi-vertical {
  box-shadow: none !important;
  border: none !important;
  height: calc(100% - #{(($golden-ratio-2 * 2) + $type-3)}) !important;
  margin-left: $golden-ratio-3;
  position: absolute;
  top: calc(#{$golden-ratio-2 + ($type-3 / 2)});
  right: $golden-ratio-2;
  width: $golden-ratio-1;

  .noUi-base {
    border: none !important;
  }

  .noUi-connects {
    background-color: $gray-1 !important;
    border: none !important;
    box-shadow: inset $box-shadow;
  }

  .noUi-connect {
    background-color: $smokey !important;
    box-shadow: inset $box-shadow-float;
  }

  .noUi-handle {
    width: $golden-ratio-3;
    height: $golden-ratio-3;
    left: -9px;
    top: -14.5px;
    cursor: pointer;
    border: none;
    background-color: $rock;
    box-shadow: $box-shadow-float !important;
    border: none !important;

    &::before,
    &::after {
      background-color: $gray-2;
      width: $golden-ratio-1;
      left: 9px;
    }

    &:before {
      top: 12px;
    }

    &:after {
      top: 16px;
    }

  }
}

.utk-digital-date-slider-notches {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;

  span {
    color: $rock;
    line-height: $type-3;
    font-size: $type-1;
    font-weight: 700;
    margin-bottom: $golden-ratio-0;
    text-align: right;

    &.activeNotch {
      font-weight: 700;
      color: $globe;

      &::after {
        background-color: $globe;
      }
    }

    &.in-range {
      font-weight: 700;
      color: $smokey;

      &::after {
      }
    }

    &::after {
      width: $golden-ratio-2;
      height: 2px;
      display: block;
      content: ' ';
      background-color: $gray-1;
      position: absolute;
      right: -29px;
      margin-top: -9.5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}