/*
 * global
 */
/*
 * colors
 */
/*
 * typography
 */
/*
 * font-size for typography
 */
/*
 * incremental spacers by golden ratio
 */
/*
 * transitions
 */
/*
 * define bootstrap vars according to externally hosted bootstrap library
 */
/*
 * utilities
 */
@import url(./../vendor/fontello/css/fontello.css);
@keyframes blink {
  0% {
    opacity: 1.0; }
  25% {
    opacity: 0; }
  50% {
    opacity: 1.0; }
  100% {
    opacity: 1.0; } }

.font-script {
  font-family: "bickham-script-pro-3", Georgia, Times, "Times New Roman", serif; }

/*
 * layout
 */
html {
  font-size: 17px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6; }

.utk-container {
  max-width: 1199px;
  margin: 0 auto;
  position: relative;
  /* Mobile Devices for Mice */
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* desktop and large desktop */
  /* Mobile Devices for Mice */
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* desktop and large desktop */
  /* Mobile Devices for Mice */
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
  /* Portrait tablet to landscape and desktop */
  /* desktop and large desktop */ }
  @media (max-width: 767px) {
    .utk-container {
      padding: 0 2rem; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .utk-container {
      padding: 0 2rem; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .utk-container {
      padding: 0 2rem; } }

#utk-header-trigger {
  width: 1px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 400px; }

#utk-header-watch {
  width: 1px;
  height: 1px;
  position: fixed;
  left: 0;
  top: 170px; }

.utk-header-image {
  width: 100%;
  margin-top: 47px;
  height: 521px;
  overflow: hidden;
  background-color: #333333;
  position: relative;
  transition: all 180ms ease-in-out; }
  .utk-header-image::after {
    position: absolute;
    display: block;
    content: ' ';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 1;
    background: -moz-linear-gradient(top, rgba(51, 51, 51, 0) 70%, rgba(88, 89, 91, 0.35) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0) 70%, rgba(88, 89, 91, 0.35) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 70%, rgba(88, 89, 91, 0.35) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .utk-header-image .utk-header-title {
    position: absolute;
    bottom: 0;
    margin-bottom: 1.1rem;
    width: 100%;
    z-index: 1; }
    .utk-header-image .utk-header-title h1 {
      font-size: 1rem;
      font-weight: 400;
      margin: 0;
      padding: 0;
      font-family: Georgia, Times, "Times New Roman", serif;
      text-align: center;
      max-width: 50vw;
      text-transform: uppercase;
      margin-bottom: 4rem;
      color: #F0EDE3;
      letter-spacing: 0.35em; }
      .utk-header-image .utk-header-title h1 > .font-script {
        text-transform: none;
        margin-top: 3.5rem;
        font-size: 6.5rem;
        line-height: 1rem;
        display: block;
        letter-spacing: 0; }
    .utk-header-image .utk-header-title .utk-actions-menu {
      position: absolute;
      top: 0;
      right: 0;
      display: flex; }
      .utk-header-image .utk-header-title .utk-actions-menu:hover > span, .utk-header-image .utk-header-title .utk-actions-menu:focus > span {
        background-color: #333333; }
      .utk-header-image .utk-header-title .utk-actions-menu > div {
        display: block;
        height: 3rem;
        background-color: #58595B;
        cursor: pointer;
        color: #f6f6f6;
        font-size: 0.85rem;
        letter-spacing: 0.05em;
        line-height: 3rem;
        font-weight: 500;
        text-align: center;
        padding: 0 1rem;
        transition: all 180ms ease-in-out;
        border-left: 6px solid #FF8200;
        text-transform: uppercase; }
      .utk-header-image .utk-header-title .utk-actions-menu > span {
        position: relative;
        display: block;
        height: 3rem;
        background-color: #58595B;
        cursor: pointer;
        color: #f6f6f6;
        font-size: 1rem;
        line-height: 3rem;
        font-weight: 500;
        text-align: center;
        padding: 0 1rem;
        transition: all 180ms ease-in-out; }
        .utk-header-image .utk-header-title .utk-actions-menu > span::before {
          margin-top: 1rem; }
  .utk-header-image .utk-header-image-main {
    opacity: 1;
    height: 110%;
    width: 110%;
    position: relative;
    left: -5%;
    top: -5%;
    opacity: 1;
    background-size: cover;
    background-position: 50% 50%; }
  .utk-header-image--shrink {
    height: 199px;
    background-color: #58595B; }
    .utk-header-image--shrink .utk-header-title {
      margin-bottom: 0; }
      .utk-header-image--shrink .utk-header-title h1 {
        margin-left: 333px;
        max-width: 100%;
        margin-bottom: 4rem; }
        .utk-header-image--shrink .utk-header-title h1 > .font-script {
          display: inline;
          font-size: 3.5rem; }
    .utk-header-image--shrink .utk-header-image-main {
      display: none; }

.utk-header {
  font-family: "Gotham-Book", "Gotham SSm 4r", "Gotham SSm A", "Gotham SSm B", "Tahoma", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #58595B;
  font-size: 15px;
  box-shadow: 1px -1px 3px rgba(88, 89, 91, 0.05); }
  .utk-header.utk-header-expand-menu .utk-header-main {
    background-color: #FFFFFF; }
  .utk-header.utk-header-expand-menu .utk-logo-wrapper {
    border-bottom: none;
    box-shadow: none; }
    .utk-header.utk-header-expand-menu .utk-logo-wrapper .utk-logo {
      margin-top: 53px; }
    .utk-header.utk-header-expand-menu .utk-logo-wrapper::before {
      width: 100%;
      display: block;
      top: 0; }

.utk-header .utk-header-main {
  border-top: 6px solid #FF8200;
  background-color: #FFFFFF;
  height: 47px;
  width: 100%;
  position: fixed;
  box-shadow: 1px -1px 3px rgba(88, 89, 91, 0.05);
  top: 0;
  z-index: 99;
  transition: all 180ms ease-in-out; }

.utk-header-actions {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  width: auto; }
  .utk-header-actions .utk-header-actions--item {
    display: block;
    width: auto;
    /* Or whatever */
    height: auto;
    /* Or whatever */
    margin: auto;
    /* Magic! */
    font-weight: 400;
    line-height: 15px;
    font-size: 15px; }
    .utk-header-actions .utk-header-actions--item > a {
      display: inline-block;
      padding: calc((47px - 6px - 15px) / 2) calc(29px / 2);
      transition: all 180ms ease-in-out; }

.utk-logo-wrapper {
  z-index: 10;
  margin-top: -6px;
  padding: 0;
  background-color: #FFFFFF;
  display: inline-block;
  width: auto;
  position: absolute;
  border-bottom: 6px solid #FF8200;
  transition: all 180ms ease-in-out;
  box-shadow: 1px -1px 3px rgba(88, 89, 91, 0.05); }
  .utk-logo-wrapper::before {
    left: 0;
    content: ' ';
    display: block;
    height: 6px;
    position: absolute;
    background-color: #FF8200;
    width: 0;
    transition: all 180ms ease-in-out; }
  .utk-logo-wrapper .utk-logo {
    margin: 47px;
    height: 70px;
    transition: all 180ms ease-in-out; }

.utk-logo-shortcut {
  top: 25px;
  left: -2000px;
  height: 25px;
  transition: all 180ms ease-in-out;
  position: absolute;
  z-index: 100; }

.utk-header.utk-header-expand-menu .utk-logo-wrapper {
  background-color: transparent; }
  .utk-header.utk-header-expand-menu .utk-logo-wrapper .utk-logo {
    margin-top: 76px; }

.utk-header:not(.utk-header-expand-menu) .utk-header-main.utk-shortcut:not(.utk-header-expand-menu) {
  height: 81px;
  box-shadow: 1px 1px 5px rgba(88, 89, 91, 0.11);
  overflow: hidden; }
  .utk-header:not(.utk-header-expand-menu) .utk-header-main.utk-shortcut:not(.utk-header-expand-menu) .utk-logo-wrapper {
    height: 0;
    width: 304px;
    box-shadow: none;
    border-bottom: 0px solid #FFFFFF; }
    .utk-header:not(.utk-header-expand-menu) .utk-header-main.utk-shortcut:not(.utk-header-expand-menu) .utk-logo-wrapper .utk-logo {
      margin-top: -100px;
      transform: scale(0);
      opacity: 1; }
    .utk-header:not(.utk-header-expand-menu) .utk-header-main.utk-shortcut:not(.utk-header-expand-menu) .utk-logo-wrapper::before {
      width: 100%;
      display: block;
      top: 0; }
  .utk-header:not(.utk-header-expand-menu) .utk-header-main.utk-shortcut:not(.utk-header-expand-menu) .utk-logo-shortcut {
    top: 25px;
    left: 0;
    display: block;
    /* Mobile Devices for Mice */
    /* Landscape phones and down */
    /* Landscape phone to portrait tablet */
    /* Portrait tablet to landscape and desktop */
    /* desktop and large desktop */
    /* Mobile Devices for Mice */
    /* Landscape phones and down */
    /* Landscape phone to portrait tablet */
    /* Portrait tablet to landscape and desktop */
    /* desktop and large desktop */
    /* Mobile Devices for Mice */
    /* Landscape phones and down */
    /* Landscape phone to portrait tablet */
    /* Portrait tablet to landscape and desktop */
    /* desktop and large desktop */ }
    @media (max-width: 767px) {
      .utk-header:not(.utk-header-expand-menu) .utk-header-main.utk-shortcut:not(.utk-header-expand-menu) .utk-logo-shortcut {
        left: 25px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .utk-header:not(.utk-header-expand-menu) .utk-header-main.utk-shortcut:not(.utk-header-expand-menu) .utk-logo-shortcut {
        left: 25px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .utk-header:not(.utk-header-expand-menu) .utk-header-main.utk-shortcut:not(.utk-header-expand-menu) .utk-logo-shortcut {
        left: 25px; } }
  .utk-header:not(.utk-header-expand-menu) .utk-header-main.utk-shortcut:not(.utk-header-expand-menu) .utk-header-actions {
    top: 18px; }

/*
 * components
 */
a,
a:visited {
  cursor: pointer;
  color: #58595B;
  text-decoration: none; }

a:focus,
a:hover {
  color: #006C93;
  text-decoration: none; }

.utk-header-resources {
  width: 100%;
  height: 0;
  background-color: #FFFFFF;
  transition: all 180ms ease-in-out;
  overflow: hidden;
  top: -500px;
  opacity: 1;
  z-index: 98;
  position: fixed;
  box-shadow: 1px -1px 3px rgba(88, 89, 91, 0.05); }
  .utk-header-resources.utk-header-expand-menu {
    top: 47px;
    opacity: 1;
    height: 500px; }

.utk-header.utk-header-shrink:not(.utk-header-expand-menu) .utk-header-expand-menu {
  top: 81px; }

.utk-resources-menu {
  position: fixed;
  width: 100%;
  max-width: 819px;
  margin-left: 380px;
  display: flex;
  flex-direction: row;
  padding: 1.5rem 0 3rem;
  background-color: #FFFFFF; }
  .utk-resources-menu--col {
    width: 33%;
    display: block; }
    .utk-resources-menu--col > h3 {
      margin: 1rem 0 0.75rem;
      font-weight: 300;
      font-family: "Gotham-Book", "Gotham SSm 4r", "Gotham SSm A", "Gotham SSm B", "Tahoma", "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 0;
      font-size: 18px; }
      .utk-resources-menu--col > h3:first-child {
        margin-top: 0; }
    .utk-resources-menu--col a,
    .utk-resources-menu--col a:visited {
      color: #006C93;
      display: block;
      line-height: 1.6rem;
      font-size: 15px;
      padding: 0.25rem 0 0.125rem;
      font-weight: 700;
      font-family: "Gotham-Book", "Gotham SSm 4r", "Gotham SSm A", "Gotham SSm B", "Tahoma", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .utk-resources-menu--col a:focus,
    .utk-resources-menu--col a:hover {
      color: #8D2048; }

.utk-resources-contact {
  position: absolute;
  max-width: 360px;
  margin: 176px 47px; }
  .utk-resources-contact p {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    font-size: 15px;
    font-weight: 300; }
    .utk-resources-contact p > a {
      display: inline-block; }
  .utk-resources-contact--social {
    margin-top: 3rem; }
    .utk-resources-contact--social > a,
    .utk-resources-contact--social > a:visited {
      color: #A7A9AC;
      padding: 0.5rem;
      font-size: 18px; }
      .utk-resources-contact--social > a:first-child,
      .utk-resources-contact--social > a:visited:first-child {
        margin-left: -0.5rem; }
    .utk-resources-contact--social > a:hover,
    .utk-resources-contact--social > a:focus {
      color: #FF8200; }

.utk-header-actions--resources a,
.utk-header-actions--resources a:visited,
.utk-header-actions--resources a:hover,
.utk-header-actions--resources a:focus {
  font-weight: 700;
  color: #58595B !important; }

.utk-header-actions--resources .icon-menu {
  opacity: 1;
  font-size: 15px;
  padding: 1px;
  margin-right: 4px;
  transition: all 180ms ease-in-out; }

.utk-header-actions--resources .icon-cancel {
  opacity: 0;
  transition: all 180ms ease-in-out;
  position: absolute;
  margin-left: -26px; }

.utk-header-actions--resources .utk-header-expand-menu .icon-menu {
  opacity: 0;
  transition: all 180ms ease-in-out; }

.utk-header-actions--resources .utk-header-expand-menu .icon-cancel {
  opacity: 1;
  color: #A7A9AC; }

.utk-header.active .utk-header-main {
  background-color: #FFFFFF; }

.utk-header.active .utk-logo-wrapper {
  border-bottom: none;
  box-shadow: none; }
  .utk-header.active .utk-logo-wrapper .utk-logo {
    margin-top: 53px; }
  .utk-header.active .utk-logo-wrapper::before {
    width: 100%;
    display: block;
    top: 0; }

.utk-header-search {
  position: fixed;
  width: 100%;
  transition: all 180ms ease-in-out;
  overflow: hidden;
  top: -76px;
  opacity: 0;
  z-index: 97;
  background-color: rgba(51, 51, 51, 0);
  height: 76px; }
  .utk-header-search.utk-header-expand-search {
    opacity: 1;
    top: 47px;
    background-color: #333333; }

.utk-header-shrink .utk-header-expand-search {
  top: 81px; }
  .utk-header-shrink .utk-header-expand-search .utk-search-wrapper {
    left: 0px;
    max-width: 100%; }
    .utk-header-shrink .utk-header-expand-search .utk-search-wrapper .utk-cursor {
      left: 0; }
    .utk-header-shrink .utk-header-expand-search .utk-search-wrapper--icon {
      margin-left: 0; }
    .utk-header-shrink .utk-header-expand-search .utk-search-wrapper input#utk-search-field {
      width: 100%;
      padding-left: calc(18px); }

.utk-search-wrapper {
  position: relative;
  width: 100%;
  max-width: 894px;
  left: 304px;
  display: flex;
  flex-direction: row;
  height: 76px;
  transition: all 180ms ease-in-out; }
  .utk-search-wrapper--icon {
    position: absolute;
    margin-left: 18px;
    margin-top: 1.8rem;
    color: #A7A9AC;
    display: none; }
  .utk-search-wrapper .utk-cursor {
    position: absolute;
    width: 2px;
    height: 29px;
    background-color: #A7A9AC;
    left: 29px;
    top: calc(47px / 2);
    animation: blink 1.5s ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation: blink 1.5s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 1; }
  .utk-search-wrapper input:focus + i {
    display: none; }
  .utk-search-wrapper ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A7A9AC; }
  .utk-search-wrapper input#utk-search-field {
    border: none;
    background-color: transparent;
    width: 894px;
    font-weight: 300;
    height: auto;
    font-size: 23px;
    line-height: 2rem;
    height: 76px;
    padding: 1rem 47px;
    margin: 0;
    color: #58595B; }
    .utk-search-wrapper input#utk-search-field ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #A7A9AC; }
    .utk-search-wrapper input#utk-search-field::before {
      width: 100px;
      height: 10px;
      background-color: #E65933;
      content: ' x ';
      display: block; }
    .utk-search-wrapper input#utk-search-field:focus {
      outline-offset: -1px;
      outline: #A7A9AC auto 5px;
      outline: none;
      color: #FFFFFF !important; }
      .utk-search-wrapper input#utk-search-field:focus ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        display: none; }
  .utk-search-wrapper input#utk-search-submit {
    position: absolute;
    display: block;
    border: none;
    background: transparent;
    background-color: #006C93;
    color: #FFFFFF;
    width: auto;
    height: auto;
    font-size: 15px;
    line-height: 1.5rem;
    padding: 0.35rem 1rem;
    margin: 18px;
    text-transform: uppercase;
    right: 0;
    top: 2px;
    font-weight: 700;
    letter-spacing: 0.07em;
    cursor: pointer;
    transition: all 180ms ease-in-out; }
    .utk-search-wrapper input#utk-search-submit:hover, .utk-search-wrapper input#utk-search-submit:focus {
      background-color: #006C93; }

.utk-header-actions--search a,
.utk-header-actions--search a:visited,
.utk-header-actions--search a:hover,
.utk-header-actions--search a:focus {
  color: #58595B !important; }

.utk-header-actions--search .icon-search {
  opacity: 1;
  font-size: 15px;
  padding: 1px;
  transition: all 180ms ease-in-out; }

.utk-header-actions--search .icon-cancel {
  opacity: 0;
  transition: all 180ms ease-in-out;
  position: absolute;
  margin-left: -23px; }

.utk-header-actions--search .utk-header-expand-search .icon-search {
  opacity: 0;
  transition: all 180ms ease-in-out; }

.utk-header-actions--search .utk-header-expand-search .icon-cancel {
  opacity: 1;
  color: #A7A9AC; }

.utk-header-shrink.utk-search-active .utk-search-options {
  top: 32px; }

.utk-search-active .utk-search-options {
  top: 32px; }

.utk-search-options {
  position: absolute;
  z-index: 101;
  right: 199px;
  display: flex;
  height: 47px;
  transition: all 180ms ease-in-out;
  top: -76px; }
  .utk-search-options .utk-search-toggle {
    width: 47px;
    height: 29px;
    border-radius: 47px;
    background-color: #58595B;
    position: relative;
    cursor: pointer;
    margin-top: -8px; }
    .utk-search-options .utk-search-toggle .utk-search-toggle-button {
      position: absolute;
      width: 18px;
      height: 18px;
      background-color: #f6f6f6;
      border-radius: inherit;
      top: calc(5.5px);
      left: calc(5.5px); }
    .utk-search-options .utk-search-toggle:hover .utk-search-toggle-button {
      background-color: #FFFFFF; }
  .utk-search-options label {
    cursor: pointer;
    font-size: 15px;
    color: #A7A9AC;
    font-weight: 700;
    display: block; }
    .utk-search-options label:first-child {
      margin-right: 18px; }
    .utk-search-options label:last-child {
      margin-left: 18px; }
  .utk-search-options img {
    height: 13px; }

/*
 * vendor
 */
